- provide :title, 'Dashboard'

%h1 Welcome to the admin section. I'm currently overhauling the entire backend to provide enhanced functionality across the whole site. Feature requests are encouraged.
%h1 This process will take a while but I'll be pushing updates daily.
%h1 There will eventually be a dashboard here.