= form_for [:admin, @unit] do |f|

  = f.label :name
  = f.text_field :name

  = f.label :ib
  = f.text_field :ib

  = f.label :study_year_id
  = f.collection_select :study_year_id, StudyYear.all, :id, :name

  = f.submit :submit