- provide :title, 'Study Units'
#page_information
  .info_title
    %h1= pluralize(@units.count, 'Study Unit')
    .info_button_container
      .button_group
        = link_to '+ Create Unit', new_admin_unit_path, class: 'button'

.panel
  %table.index_table
    %tr
      %th Unit ID
      %th Name
      %th IB
      %th Study Year
      %th Actions

    - @units.each do |unit|
      %tr
        %td= unit.id
        %td= unit.name
        %td= unit.ib
        %td= unit.study_year&.name
        %td.actions
          = link_to 'Edit', edit_admin_unit_path(unit)
