= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :sender_id
    = f.number_field :sender_id
  .field
    = f.label :recipent_id
    = f.number_field :recipent_id
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :message
    = f.text_area :message
  .field
    = f.label :read
    = f.check_box :read
  .actions
    = f.submit 'Save'
