%h1 Listing messages

%table
  %thead
    %tr
      %th Sender
      %th Recipent
      %th Subject
      %th Message
      %th Read
      %th
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.sender_id
        %td= message.recipent_id
        %td= message.subject
        %td= message.message
        %td= message.read
        %td= link_to 'Show', message
        %td= link_to 'Edit', edit_message_path(message)
        %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
