%p#notice= notice

%p
  %b Sender:
  = @message.sender_id
%p
  %b Recipent:
  = @message.recipent_id
%p
  %b Subject:
  = @message.subject
%p
  %b Message:
  = @message.message
%p
  %b Read:
  = @message.read

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
