= form_for [:admin, @lesson, @slide] do |f|

  = f.label :slide_type, "Slide Type"
  = f.select :slide_type, [:story,
                    :intro,
                    :outro,
                    :quiz,
                    :course_intro,
                    :ten_count_launch,
                    :sixty_count,
                    :rocket_words,
                    :previous_rocket_word,
                    :sixty_count_test,
                    :song,
                    :video,
                    :investigation]



  - if ['story', 'sixty_count', 'video'].include? @slide.slide_type
    = f.label :upper_text, "The text"
    = f.text_area :upper_text

  //- if ['story', 6, 11].include? @slide.slide_type
  //  = f.label :lower_text, "... and the bottom"
  //  = f.text_area :lower_text, class: 'wysiwyg'

  - if ['story'].include? @slide.slide_type
    = f.label :on_slide_text, "Text that goes on the slide image"
    = f.text_area :on_slide_text

  - if ['story', 'intro', 'outro', 'investigation'].include? @slide.slide_type
    = field_set_tag "Background Image" do
      = image_tag @slide.background_image.square
      = f.file_field :background_image

  - if ['story'].include? @slide.slide_type
    = field_set_tag "On Slide Image" do
      = f.label :on_slide_image
      = f.file_field :on_slide_image

  - if ['story', 'video'].include? @slide.slide_type
    = field_set_tag "Slide Video" do
      = video_tag @slide.video unless @slide.video.blank?
      = f.label :video
      = f.file_field :video

  = field_set_tag "Narration Video" do
    = video_tag @slide.narration_video unless @slide.narration_video.blank?
    = f.label :narration_video
    = f.file_field :narration_video

  = f.label :class_only do
    = f.check_box :class_only
    %span This slide should only be shown in the classroom

  IGNORE THIS
  = f.text_field :new_video_id
  = f.text_field :video_quality_override

  = f.submit :submit