- content_for :second_sidebar do
  = link_to "View Presentation", presentation_path(@lesson.presentation)
  = link_to "+ Add Slide", new_admin_lesson_template_slide_path(@lesson)
  %ul#slide_admin_sidebar(data-update-url="#{sort_admin_lesson_template_slides_path}")
    - @slides.each do |slide|
      = content_tag :li, id: "slide_#{slide.id}", class: 'slide'  do
        %i.fa.fa-bars
        = link_to "#{slide.slide_number} #{slide.slide_type_name}", edit_admin_lesson_template_slide_path(@lesson, slide) if slide.id