= render 'slide_sidebar'
%h1 New slide

= form_for [:admin, @lesson, @slide] do |f|

  = f.label :slide_type, "Slide Type"
  = f.select :slide_type, [:story,
                    :intro,
                    :outro,
                    :quiz,
                    :course_intro,
                    :ten_count_launch,
                    :sixty_count,
                    :rocket_words,
                    :previous_rocket_word,
                    :sixty_count_test,
                    :song,
                    :video,
                    :investigation]



  = f.submit :submit