#content
  #content_inner

    #login_form.regular_form.narrow_form
      .form_text
        %h1 Sign in
        %p
          Enter your School's
          %b Domain
        - if params[:school_sub]
          = "School '#{params[:school_sub]}' not found"
      = form_tag choose_school_path do
        = text_field_tag :school_sub, nil, placeholder: 'Enter your school address'
        = submit_tag 'Let\'s Go'
