#content
  #content_inner


    #login_form.regular_form.narrow_form
      .login_text
        %h1 Sign in
        %p
          Enter you
          %b pupil number
      = form_for :user, url: sign_in_pupils_path do |f|
        = @error
        .field
          = f.label :pupil_identifier, 'Pupil Number'
          = f.text_field :pupil_identifier, placeholder: "123..."
        .actions
          = f.submit "Log in"

    #form_helper_directions
      .form_helper_direction
        %p
          Looking for the teacher login?
          = link_to 'Click here', sign_in_teachers_path
