#content
  #content_inner


    #login_form.regular_form.narrow_form
      .login_text
        %h1 Sign in
        %p Enter your email and password
      = form_for :user, url: sign_in_teachers_path do |f|
        = f.hidden_field :teacher, value: true
        .field
          = f.label :email
          = f.email_field :email, placeholder: "Email"
        - if request.subdomain == 'admin'
          = f.hidden_field :school_id, value: -1
        - else
          = f.hidden_field :school_id, value: @school.id
        .field
          = f.label :password
          = f.password_field :password, placeholder: "Password"
        .field.check_box_field
          = f.label :remember_me do
            = f.check_box :remember_me
            %span Remember me on this device
        .actions
          = f.submit "Log in"
          = link_to "Forgot password?", edit_user_registration_path, class: "minor_form_link"

    #form_helper_directions
      .form_helper_direction
        %p
          Looking for the pupil login?
          = link_to 'Click here', sign_in_pupils_path
