$("#slides_navigation").html("<%= escape_javascript(render partial: 'presentations/slide_navigation' ) %>");
$("#main_wrapper").html("<%= escape_javascript(render partial: 'presentations/main_wrapper_content' ) %>");
$("#narration_video_wrapper").html("<%= escape_javascript(render partial: 'presentations/narration_video' ) %>");