#slides_navigation
  = link_to 'Begin', teacher_presentation_goto_path(@presentation, slide_number: 1), remote: true
#slide_content_wrapper
  #year_summary_sidebar
    = sidebar

  #main_wrapper
    .pre_lesson
  #second_sidebar


    #navigation_thumbs.no_vid
      - @presentation.slides.each_with_index do |slide, i|
        = slide_thumb_link(slide, i+1)
