- provide :title, 'Teachers'

#page_information
  .info_title
    %h1= pluralize(@teachers.count, 'Teacher')
    .info_button_container
      .button_group
        = link_to '+ Create Teacher', new_admin_user_faculty_path, class: 'button'

.panel
  %table.index_table
    %tr
      %th Name
      %th School
      %th Administrator?
      %th Email

    - @teachers.each do |user|
      %tr
        %td= user.name
        %td= user.school.name
        %td= user.administrator? ? "Yes" : "No"
        %td= user.email
