= form_for [:admin, @lesson] do |f|

  .field
    = f.label :machine_name
    = f.text_field :machine_name

  .field
    = f.label :body
    = f.text_field :body

  .field
    = f.label :unit_id
    = f.collection_select :unit_id, Unit.all, :id, :unit_year

  = field_set_tag "Song" do
    = f.file_field :song
    = video_tag @lesson.song unless @lesson.new_record?

  = field_set_tag "Cover Image" do
    = f.file_field :cover_image
    = image_tag @lesson.cover_image.square unless @lesson.new_record?

  .field
    = f.label :published
    = f.check_box :published

  .actions
    = f.submit :submit





