#page_information
  .info_title
    %h1= pluralize(@lessons.count, 'Mission')
    .info_button_container
      .button_group
        = link_to '+ Create Lesson', new_admin_lesson_template_path, class: 'button'

= will_paginate @lessons
.panel
  %table.index_table
    %thead
      %th
      %th UID
      %th Name
      %th Rocket Words
      %th Formative Questions
      %th Summative Questions
      %th Resources
      %th.action_column
      %th.action_column
      %th.action_column
      %th.action_column
    %tbody
      - @lessons.each do |lesson|
        %tr
          %td.lesson_thumb= image_tag lesson.cover_image.square
          %td
            %b= link_to lesson.machine_name, edit_admin_lesson_template_path(lesson)
          %td= lesson.display_name.try(:humanize)
          %td= link_to "#{lesson.rocket_word_count} - Edit", admin_lesson_template_rocket_words_path(lesson), style: "color: #{lesson.rocket_word_count == 5 ? 'green' : 'red'}"
          %td= link_to "#{lesson.quiz&.formative_questions_count} - Edit", formative_questions_admin_lesson_template_path(lesson), style: "color: #{lesson.quiz&.formative_questions_count == 5 ? 'green' : 'red'}"
          %td= link_to "#{lesson.quiz&.summative_questions_count} - Edit", summative_questions_admin_lesson_template_path(lesson), style: "color: #{lesson.quiz&.summative_questions_count == 5 ? 'green' : 'red'}"
          %td= link_to "#{lesson.resources.count} - Edit", admin_lesson_template_resources_path(lesson)
          %td= link_to "View Presentation", presentation_path(lesson.presentation)
          %td= link_to "Edit Slides", admin_lesson_template_slides_path(lesson)
          %td= link_to("Edit Lesson Plan", admin_lesson_template_lesson_plan_path(lesson, lesson.lesson_plan)) rescue lesson.create_lesson_plan
          %td= link_to("Edit Risk Assessment", edit_admin_lesson_template_risk_assessment_path(lesson, lesson.risk_assessment)) rescue lesson.create_risk_assessment
          %td= link_to 'Edit Lesson', edit_admin_lesson_template_path(lesson)


