#page_information
  .info_title
    %h3= pluralize(@lesson.summative_questions.count, 'Summative Question')
  .action_links
    - unless @lesson.summative_questions.count > 4
      = link_to '+ Question', new_admin_lesson_template_quiz_question_path(@lesson), class: 'primary_link'
.panel
  %table.index_table
    %thead
      %tr
        %th
        %th Question
        %th Slide
        %th Answer
        %th Rocket Word
        %th Actions
    - @lesson.summative_questions.each do |question|
      %tr
        %td.mission_thumb= image_tag question.rocket_word.image.square if question.rocket_word
        %td= question.question
        %td= link_to question.slide.try(:slide_number), presentation_slide_path(@lesson.presentation, question.slide) if question.slide
        %td= question.answer.try(:answer)
        %td= question.rocket_word.try(:word)
        %td.action_cell
          = link_to 'edit', edit_admin_lesson_template_quiz_question_path(@lesson, question)
          = link_to 'delete', admin_lesson_template_quiz_question_path(@lesson, question), method: :delete, data: {confirm: "Sure?"}