= form_for [:admin, @lesson, @lesson_plan] do |f|

  .field
    = f.label :resources
    = f.text_area :resources

  .field
    = f.label :sentence_structure
    = f.text_area :sentence_structure

  .field
    = f.label :activities
    = f.text_area :activities

  .field
    = f.label :assessment
    = f.text_area :assessment

  .field
    = f.label :learning_outcomes
    = f.text_area :learning_outcomes

  .field
    = f.label :teacher_mastery
    = f.text_area :teacher_mastery

  .field
    = f.label :pupil_mastery
    = f.text_area :pupil_mastery


  = f.submit :save