#page_information
  .info_title
    %h3 #{@lesson.display_name} Mission Plan
  .action_links
    = link_to 'Edit', edit_admin_lesson_template_lesson_plan_path(@lesson, @lesson_plan), class: 'primary_link'
= render 'lesson_plan_display'