.panel
  %table.index_table
    %thead
      %th Courses
      %th Lessons
      %th Teacher
      %th Class
      %th.action_column View
      - if signed_in_as_administrator?
        %th.action_column Edit
        %th.action_column Duplicate
        %th.action_column Delete
    %tbody
      - courses.each do |course|
        %tr
          %td= link_to course.name, faculty_course_path(course)
          %td= course.lessons.count
          %td= course.teacher&.name
          %td= course.klass&.name
          %td= link_to "View", faculty_course_path(course)
          - if signed_in_as_administrator?
            %td= link_to "Edit", edit_faculty_course_path(course) if signed_in_as_administrator?
            %td= link_to "Duplicate", duplicate_faculty_course_path(course) if signed_in_as_administrator?
          %td= link_to_protected_delete "Delete", faculty_course_path(course), 'Are you sure you want to delete this course?'
