#page_information
  .info_title
    %h3 Edit Course

#form_page
  = form_for [:faculty, @course] do |f|
    #upper_form
      .title_field
        = f.text_field :name
      .right_form_buttons
        = f.submit
        = link_to 'Back', faculty_courses_path, class: 'minor_action_button'
    #main_form

      .tabs_container
        = radio_button_tag :tab, :schedule, true, checked: true
        .tab_headings
          = label_tag :tab_schedule, 'Schedule'
        .form_tabs
          .form_tab.tab--schedule_tab

            .calendar
              = month_calendar do |date|
                .calender_day_indicator= date.strftime('%d')
                - @course.get_lessons_for_date(date).each_with_index do |l, i|
                  - unless i==0
                    %br
                  = link_to l.name, edit_faculty_lesson_path(l)

      #lower_form
        .right_form_buttons
          = f.submit



