#page_information
  .info_title
    %h3= pluralize(@courses.count, 'Course')
  .action_links
    = link_to '+ Create Course', select_years_faculty_courses_path, class: 'primary_link' if signed_in_as_administrator?
  .search_form
    = search_form_for @q, url: faculty_courses_path do |f|
      = f.search_field :name_cont, placeholder: "Search by name..."
      .hidden
        = f.submit :search

= render 'faculties/courses/table', courses: @courses
