#form_explainer
  %h1 Arrange your course
  %p Drag and drop the units of the course to select your order of study. You can also choose individual missions by unselecting them.

= form_for [:faculty, @course] do |f|
  = f.text_field :name, placeholder: "Enter a name for the course"
  #course_selection_container
    - @course.build_lessons_for_year(@year).units.each do |unit|
      .course_unit
        %h4= unit.name&.humanize
        .lesson_container

          = f.fields_for :lessons, @course.build_lessons_for_unit(unit) do |c_f|
            .lesson
              = c_f.hidden_field :lesson_template_id
              = c_f.check_box :disabled, checked: true
              = c_f.label :disabled do
                = c_f.object.name&.humanize

  = f.hidden_field :year, value: @year.id
  = f.submit
