- content_for :side_panel do
  = link_to '< Back', faculty_courses_path, class: 'primary_sidebar_link'
#form_explainer
  %h1 Select your course year
  %p Different years contain different units for your students. Please select the appropriate one to begin customising your course.


#course_yeargroup_pick_container
  - StudyYear.all.each do |year|
    .course_yeargroup_picker.div_link{"data-href" => new_faculty_course_path(year: year.id)}
      %h4= year.name
      %ul
        - year.units.each do |unit|
          %li= unit.name&.humanize

