#page_information
  .info_title
    %h3= @course.name
  .action_links
    = link_to 'Edit', edit_faculty_course_path(@course) if signed_in_as_administrator?
    = link_to 'All Courses', faculty_courses_path, class: 'minor_action_link'

.panel
  %table.index_table
    %tr
      %th.horizontal_heading Name
      %td= link_to @course.name, faculty_course_path(@course)
    - if @course.klass
      %tr
        %th.horizontal_heading Class
        %td= link_to(@course.klass&.name, faculty_klass_path(@course.klass))
    - else
      %tr
        %th.horizontal_heading Class
        %td=link_to('Assign to class...', faculty_klasses_path)
    %tr
      %th.horizontal_heading Teacher
      %td= @course.teacher ? link_to(@course.teacher&.name, faculty_teacher_path(@course.teacher)) : link_to('Assign teacher...', faculty_klasses_path)
    %tr
      %th.horizontal_heading Pupils
      %td= @course.pupils.count
= render 'faculties/lessons/table', lessons: @course.lessons