%h1 Editing risk_assessment

= form_for [:admin, @lesson, @risk_assessment] do |f|
  - if @risk_assessment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@risk_assessment.errors.count, "error")} prohibited this risk_assessment from being saved:"
      %ul
        - @risk_assessment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :lesson_template_id
    = f.number_field :lesson_template_id
  .field
    = f.label :practical_number
    = f.text_field :practical_number
  .field
    = f.label :practical_outline
    = f.text_field :practical_outline
  .field
    = f.label :day
    = f.text_field :day
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :period
    = f.text_field :period
  .field
    = f.label :room
    = f.text_field :room
  .field
    = f.label :teacher
    = f.text_field :teacher
  .field
    = f.label :year_group
    = f.text_field :year_group
  .field
    = f.label :lesson_number
    = f.text_field :lesson_number
  .actions
    = f.submit 'Save'

%h1 Apparatus/ text books
%table
  %thead
    %tr
      %th Apparatus/ text books
      %th Amount
      %th Class Practical
      %th
  %tbody
    - @risk_assessment.risk_assessment_apparatus.each do |app|
      %tr
        %td= app.name
        %td= app.amount
        %td= app.practical
        %td.action_cell
          = link_to 'edit', edit_admin_lesson_template_risk_assessment_risk_assessment_apparatu_path(@lesson, @risk_assessment, app)
          = link_to 'delete', admin_lesson_template_risk_assessment_risk_assessment_apparatu_path(@lesson, @risk_assessment, app), method: :delete
    %tr
      %td{colspan: 3}
        = link_to 'New', new_admin_lesson_template_risk_assessment_risk_assessment_apparatu_path(@lesson, @risk_assessment)

%h1 Health & Safety
%table
  %thead
    %tr
      %th Procedure
      %th Hazard & how it would occur
      %th Level of risk
      %th Severity
      %th No. of people affected
      %th Safety points to reduce risk
      %th
  %tbody
    - @risk_assessment.risk_assessment_safeties.each do |safe|
      %tr
        %td= safe.procedure
        %td= safe.hazard
        %td= safe.level_of_risk
        %td= safe.severity
        %td= safe.number_affected
        %td= safe.safety_points
        %td.action_cell
          = link_to 'edit', edit_admin_lesson_template_risk_assessment_risk_assessment_safety_path(@lesson, @risk_assessment, safe)
          = link_to 'delete', admin_lesson_template_risk_assessment_risk_assessment_safety_path(@lesson, @risk_assessment, safe), method: :delete
    %tr
      %td{colspan: 7}
        = link_to 'New', new_admin_lesson_template_risk_assessment_risk_assessment_safety_path(@lesson, @risk_assessment)

