.quiz_slide
  %table
    %tbody
      - @lesson.quiz.formative_questions.each do |question|
        %tr
          %td.question= raw question.question
          %td.rw_image= image_tag question.rocket_word&.image&.square
