.course_intro_slide
  .course_intro_text
    %p Rewards System:
    %p During each mission you will need to learn 5 Rocket words and meanings worth 10 points.
    %p Each time you earn 60 points you are awarded a certificate and gain a Space Station ranking which is logged in your class league table.
  .course_intro_image
    = image_tag @lesson.study_year.certificate
