.quiz_slide
  - if @lesson.quiz.questions.any?
    - if current_user.lessons.find_by(lesson_template_id: @lesson.id).get_result_for(current_user).attempt.completed?
      = link_to 'Quiz Completed', pupil_lesson_path(current_user.lessons.find_by(lesson_template_id: @lesson.id)), class: 'begin_mission'
      = link_to 'Try again for fun?', start_quiz_pupil_lesson_path(current_user.lessons.find_by(lesson_template_id: @lesson.id)), class: 'begin_mission'
    - else
      = link_to 'Take Quiz', start_quiz_pupil_lesson_path(current_user.lessons.find_by(lesson_template_id: @lesson.id)), class: 'begin_mission'
  - else
    %h1 This mission has no quiz
