.intro_slide
  .intro_slide_content
    .mission_objective
      %p
        %b Mission Objective
        %br
        = "#{@presentation&.lesson_template&.study_year&.mascot_name} wants you to:"
      %ul
        - if @lesson.display_name
          - @lesson.display_name_array.each do |m|
            %li= m


      %p
        %b Rocket Words:
        %br
        = @lesson.rocket_words.map{ |w| content_tag(:span, w.word, class: 'rw') }.join(', ').html_safe

    #rocket_word_intro_summary
      %span.onslide_text.med_onslide
    .choose_timer
      = link_to 'Select today’s Quiz Master and Mission Timer', 'javascript: void 0;'
  .intro_slide_actions
    .column_spacer

    .mascot
      = image_tag "transparent.gif", data: {highres: @lesson.study_year.lesson_intro_mascot.url}
