.rocket_word_slide
  %table
    %thead
      %tr
        %th
        %th Rocket Word:
        %th
        %th Meaning:
    %tbody
      - lesson.rocket_words.each do |word|
        %tr
          %td.rw_image= image_tag @lesson.study_year.rocket_thumbnail.square
          %td.rw_text.rw_word= word.word
          %td.rw_image= image_tag word.image.square
          %td.rw_text.rw_description= raw(word.description)
