- if defined? @attempt
  = link_to "Resume Quiz", question_pupil_lesson_path(@lesson || @attempt.lesson)
- else
  - if @course
    = link_to '<', course_presentation_slide_path(@course, @presentation, previous_slide) if previous_slide
    %span= current_slide_index_number
    = link_to '>', course_presentation_slide_path(@course, @presentation, next_slide) if next_slide

    = link_to "Back to dashboard", root_path, class: 'return_to_dashboard'

  - else
    = link_to '<', presentation_slide_path(@presentation, previous_slide) if previous_slide
    %span= current_slide_index_number
    = link_to '>', presentation_slide_path(@presentation, next_slide) if next_slide

    = link_to "Back to dashboard", root_path, class: 'return_to_dashboard'

  - unless current_slide.narration_video.blank?
    = link_to 'Toggle Narration', url_for(toggle_narration: (session[:toggle] ? "0" : "1")), class: 'narration_toggle'
    //= link_to 'Toggle Narration', presentation_slide_path(@presentation, current_slide_index_number, toggle_narration: (session[:toggle] ? "0" : "1")), class: 'narration_toggle'
