#slides_navigation
  = link_to 'Begin', goto_slide_path(@presentation, Slide.from_slide_number(1))
#slide_content_wrapper
  #year_summary_sidebar
    = sidebar

  #main_wrapper.trans
    .pre_lesson
  #second_sidebar
    #narration_video_wrapper

    #navigation_thumbs.no_vid
      - @presentation.slides.each_with_index do |slide, i|
        = slide_thumb_link(slide, i+1)
