#slides_navigation
  = render 'presentations/slide_navigation'
#slide_content_wrapper
  #year_summary_sidebar
    = sidebar

  #main_wrapper
    = render 'presentations/main_wrapper_content'
  - if defined? @attempt
    = render 'pupil/quizzes/progress_bar'
  - else
    #second_sidebar
      #narration_video_wrapper

      #navigation_thumbs.no_vid
        - @slides.each_with_index do |slide, i|
          = slide_thumb_link(slide, i+1, current_slide)

