
= sidebar_section do
  = link_to raw("Home #{fa_icon('home')}"), root_path

= sidebar_section 'Curriculum' do
  = link_to 'Study Years', admin_study_years_path
  = link_to 'Units', admin_units_path
  = link_to 'Missions', admin_lesson_templates_path

= sidebar_section 'Sales' do
  = link_to 'Demo Setup', admin_soon_path
  = link_to 'Enquiries', admin_enquiries_path
  = link_to 'Contacts', admin_soon_path

= sidebar_section 'Reports' do
  = link_to 'Lesson Feedback', admin_soon_path
  = link_to 'Statistics', admin_soon_path
  = link_to 'Analytics', admin_soon_path

= sidebar_section 'School Management' do
  = link_to 'Schools', admin_schools_path
  = link_to 'Teachers', admin_user_faculties_path
  = link_to 'Courses', admin_courses_path
  = link_to 'Classes', admin_klasses_path
  = link_to 'Pupils', admin_pupils_path

= sidebar_section 'Administration' do
  = link_to 'Settings', '#'
  -#= link_to 'Users', admin_users_path
  -#= link_to 'Tutors', admin_tutors_path
  -#= link_to 'Administrators', admin_administrators_path
