#form_page
  = form_for [:admin, @teacher] do |f|
    = f.error_messages
    #upper_form
      .title_field.sync_field
        = f.text_field :name, placeholder: 'Name'
      .right_form_buttons.full_form
        = f.submit
        =# link_to_delete 'Delete', @brand, class: 'minor_form_button' unless @course.new_record?

    #main_form.two_panel_form
      #summary_form_panel

        .field.sync_field
          = f.label :name
          = f.text_field :name
        .field
          = f.label :email
          = f.text_field :email
        .field
          = f.label :school_id, 'School'
          = f.collection_select :school_id, School.all, :id, :name, prompt: 'Please select'
        .field
          = f.label :password
          = f.password_field :password
        .field
          = f.label :password_confirmation
          = f.password_field :password_confirmation


    #lower_form
      .right_form_buttons
        = f.submit
        =# link_to_delete 'Delete', @course, class: 'minor_form_button' unless @course.new_record?
