- provide :title, 'Classes'

#page_information
  .info_title
    %h1= pluralize(@klasses.count, 'Class')
    .info_button_container
      .button_group
        -#= link_to '+ Create Teacher', new_admin_user_faculty_path, class: 'button'

.panel
  %table.index_table
    %tr
      %th Name
      %th School
      %th Created

    - @klasses.each do |klass|
      %tr
        %td= klass.name
        %td= klass.school.name
        %td= klass.created_at
