<div id="graph"></div>
<script>

  $(function () {
    $('#graph').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Classes at target'
      },
      subtitle: {
        text: 'Week beginning 14th March'
      },
      xAxis: {
        categories: [
          "Year One Science",
          "Year Two Science",
          "Custom Science",
          "Maths Classes",
          "Big time science",
          "Only the Plants",
          "Year Four Scince",
          "Year Three Science"
        ],
        crosshair: true
      },
      yAxis: {
        min: 0,
        max: 100,
        title: {
          text: 'Percentage'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.0f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: 'Class',
        data: [96, 90, 95, 84, 81, 87, 88, 88]

      }]
    });
  });

</script>
