#form_page
  = form_for [:faculty, @klass] do |f|
    #upper_form
      .title_field
        = f.text_field :name
      .right_form_buttons
        = f.submit 'Update Class'
        = link_to 'Back', faculty_courses_path, class: 'minor_action_button'
    #main_form

      .tabs_container
        = radio_button_tag :tab, :assign, true, checked: true
        - unless @klass.new_record?
          = radio_button_tag :tab, :manage, params[:tab] == "manage"
        .tab_headings
          = label_tag :tab_assign, 'Assign'
          - unless @klass.new_record?
            = label_tag :tab_manage, 'Manage Pupils'
        .form_tabs
          .form_tab.tab--assign_tab
            .field
              = f.label :faculty_id, 'Assign to teacher'
              = f.collection_select :faculty_id, @school.faculty_members, :id, :name, include_blank: '-- Select --'
            .field
              = f.label :course_id, 'Assign course'
              = f.collection_select :course_id, @klass.available_courses, :id, :name, include_blank: '-- Select --'
          - unless @klass.new_record?
            .form_tab.tab--manage_tab
              = label_tag :filter
              = select_tag :filter_specified_class, options_for_select(@school.specified_classes), include_blank: true
              %label In Class
              .panel
                %table.index_table
                  %thead
                    %th ID
                    %th Pupil
                    %th Class
                    %th
                  %tbody
                    - @klass.pupils.each do |pupil|
                      %tr
                        %td= pupil.pupil_identifier
                        %td= link_to pupil.name, faculty_pupil_path(pupil)
                        %td.specified_class_column= pupil.specified_class
                        %td
                          - if pupil.in?(@klass)
                            = link_to 'Leave class', leave_class_faculty_pupil_path(pupil, klass_id: @klass.id)
                          - else
                            = link_to 'Add to class', add_to_class_faculty_pupil_path(pupil, klass_id: @klass.id)

              %label Unassigned Pupils
              .panel              

                %table.index_table
                  %thead
                    %th
                      %input{type: :checkbox, data: {select_all: true}}
                      = button_tag 'Add to class', name: :commit, value: :add_mass_to_klass
                    %th ID
                    %th Pupil
                    %th Class
                    %th
                  %tbody
                    - @school.unassigned_pupils.each do |pupil|
                      %tr
                        %td= check_box_tag 'add_to_klass[]', pupil.id
                        %td= pupil.pupil_identifier
                        %td= link_to pupil.name, faculty_pupil_path(pupil)
                        %td.specified_class_column= pupil.specified_class
                        %td
                          - if pupil.in?(@klass)
                            = link_to 'Leave class', leave_class_faculty_pupil_path(pupil, klass_id: @klass.id)
                          - else
                            = link_to 'Add to class', add_to_class_faculty_pupil_path(pupil, klass_id: @klass.id)
      #lower_form
        .right_form_buttons
          = f.submit 'Update Class'



