.panel
  %table.index_table
    %thead
      %th Classes
      %th Course
      %th Teacher
      %th Pupils
      %th At Target
      %th Average Quiz Mark
      %th Average Assessed Mark
      %th Average Mark
      %th.action_column View
      %th.action_column Edit
      %th.action_column Delete
    %tbody
      - klasses.each do |klass|
        %tr
          %td= link_to klass.name, faculty_klass_path(klass)
          %td= klass.course ? link_to(klass.course&.name, faculty_course_path(klass.course)) : link_to('Assign course...', edit_faculty_klass_path(klass))
          %td= klass.teacher ? link_to(klass.teacher&.name, faculty_teacher_path(klass.teacher)) : link_to('Assign teacher...', edit_faculty_klass_path(klass))
          %td= klass.pupils.count
          %td= klass.mastery_percentage
          %td= klass.average_quiz_mark
          %td= klass.average_in_class_mark
          %td= klass.average_total_mark
          %td= link_to 'View', faculty_klass_path(klass)
          %td= link_to 'Edit', edit_faculty_klass_path(klass)
          %td= link_to_protected_delete 'Delete', faculty_klass_path(klass), 'Are you sure you want to delete this class?'


