#graph_container
  #klass_index_graph{data: {chart_url: graph_json_faculty_klasses_path(:marks, format: :json)}}

= render 'class_graph' if @school.id == 1

#page_information
  .info_title
    %h3= pluralize(@classes.count, 'Class')
  .action_links
    = link_to '+ Create Class', new_faculty_klass_path, class: 'primary_link' if signed_in_as_administrator?
  .search_form
    = search_form_for @q, url: faculty_klasses_path do |f|
      = f.search_field :name_cont, placeholder: "Search by name..."
      .hidden
        = f.submit :search

= render 'faculties/klasses/table', klasses: @classes
