= render 'class_show_graph' if @school.id == 1
#page_information
  .info_title
    %h3= @klass.name
  .action_links
    = link_to 'Edit Class', edit_faculty_klass_path(@klass), class: 'primary_link' if signed_in_as_administrator?
    = link_to 'Add pupils', edit_faculty_klass_path(@klass), class: 'primary_link' if signed_in_as_administrator?
    = link_to 'All Classes', faculty_klasses_path, class: 'minor_action_link'
.panel
  %table.index_table
    %tr
      %th.horizontal_heading Name
      %td= link_to @klass.name, faculty_klass_path(@klass)
    - if @klass.course
      %tr
        %th.horizontal_heading Course
        %td= link_to(@klass.course&.name, faculty_course_path(@klass.course))
      %tr
        %th.horizontal_heading Current Lesson
        %td
          = link_to @klass.course.current_lesson&.display_name, faculty_lesson_path(@klass.course.current_lesson) rescue nil
          = "(#{@klass.course.current_lesson_number} / #{@klass.course.lessons.count})"
    - else
      %tr
        %th.horizontal_heading Course
        %td=link_to('Assign course...', edit_faculty_klass_path(@klass))
    %tr
      %th.horizontal_heading Teacher
      %td= @klass.teacher ? link_to(@klass.teacher&.name, faculty_teacher_path(@klass.teacher)) : link_to('Assign teacher...', edit_faculty_klass_path(@klass))
    %tr
      %th.horizontal_heading Pupils
      %td= @klass.pupils.count

#klass_show_graph{data: {chart_url: show_graph_json_faculty_klass_path(@klass, format: :json)}}


#split_summary_panels
  #panel_left
    = render 'faculties/lessons/table', lessons: @klass.course.lessons if @klass.course

  #panel_right
    .panel
      %table.index_table
        %thead
          %th ID
          %th Pupils
          %th View
          %th Edit
        %tbody
          - @klass.pupils.each do |pupil|
            %tr
              %td= pupil.pupil_identifier
              %td= link_to pupil.name, faculty_pupil_path(pupil)
              %td= link_to 'View', faculty_pupil_path(pupil)
              %td= link_to 'Edit', edit_faculty_pupil_path(pupil)
