- content_for :side_panel do
  = link_to '+ Create Report', select_years_faculty_courses_path, class: 'primary_sidebar_link'
  = link_to 'Report Archives', select_years_faculty_courses_path, class: 'Secondary_sidebar_link'

#message_area
  .message.message_credits_available
    You can generate custom reports by
    = link_to "Clicking here", "#"
%h2 Reports




%table
  %thead
    %tr
      %th Report
      %th Subjects
  %tbody
    - (1..15).each do |i|
      %tr
        %td= "Week #{i}"
        %td.action_cell
          = link_to "Maths", "#"
          = link_to "Science", "#"