.panel
  %table.index_table
    %thead
      %th{colspan: 2} Lessons
      %th.no_wrap Start Date
      %th View
      %th Edit
    %tbody
      - lessons.each do |lesson|
        - if lesson.lesson_template.present?
          %tr{class: ['table_mission', ('active_table_mission' if lesson.active?), ('available_table_mission' if lesson.available?)]}
            %td= lesson.lesson_number
            %td= link_to lesson&.display_name, faculty_lesson_path(lesson)
            %td= lesson.start_date.strftime('%d/%m/%y')
            %td= link_to 'View', faculty_lesson_path(lesson)
            %td= link_to 'Edit', edit_faculty_lesson_path(lesson)
