#page_information
  .info_title
    %h3 Edit Lesson Date: #{@lesson.display_name}

#form_page
  = form_for [:faculty, @lesson] do |f|
    #upper_form
      .title_field
        = f.label :new_start_date
        = f.text_field :new_start_date, data: {date_picker: true}
      .right_form_buttons
        = f.submit
        = link_to 'Back', faculty_courses_path, class: 'minor_action_button'
