= form_for [:faculty, @lesson], url: update_marks_faculty_lesson_path, html: {data: {autosave: true}} do |f|
  .actions.pulse_tag= submit_tag
  .saved_notice
    %p Changes Saved
  .panel
    %table.index_table
      %thead
        %th ID
        %th Pupils
        %th Mark
        %th Comment
        %th Absent
      %tbody
        = f.fields_for :lesson_results, @lesson.build_all_lesson_results do |ff|
          - pupil = ff.object.pupil
          %tr{id: pupil.id}
            %td= pupil.pupil_identifier
            %td= link_to pupil.name, faculty_pupil_path(pupil)
            %td= ff.select :in_class_mark, LessonResult::POSSIBLE_MARKS.each_with_index.map{|m,i|[m,i]}, include_blank: '--mark--'
            %td= ff.text_field :teacher_comments
            %td= ff.check_box :absent
  = submit_tag

