#lesson_preview_panel{style: "background-image: url(#{@lesson.cover_image})"}

#page_information
  .info_title
    %h3= @lesson.display_name
  .action_links
    = link_to 'View Presentation', course_presentation_path(@lesson.course, @lesson.presentation), class: 'primary_link'
    = link_to 'Mark Lesson', mark_faculty_lesson_path(@lesson) if signed_in_as_teacher?

.panel
  %table.index_table
    %thead
      %tr
        %th Resources
        %th.action_column Download
    %tbody
      - @lesson.resources.each do |resource|
        %tr
          %td= resource.name
          %td= link_to "Download", resource.file.url

= render 'lesson_plan_display'