#achievement_header
  %span.achiement_heading.selected Avatars
  %span.achiement_heading Rewards
  %span.achiement_heading Certificates

#avatar_selector
  %p Here are all the avatars you can earn. Try clicking one you've earned.
  - Avatar.all_for(@pupil).each do |avatar|
    - if current_user.has? avatar
      = render 'avatars/achieved', avatar: avatar
    - else
      = render 'avatars/unachieved', avatar: avatar
