= form_for [:admin, @lesson, @risk_assessment, @risk_assessment_safety] do |f|
  - if @risk_assessment_safety.errors.any?
    #error_explanation
      %h2= "#{pluralize(@risk_assessment_safety.errors.count, "error")} prohibited this risk_assessment_safety from being saved:"
      %ul
        - @risk_assessment_safety.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :procedure
    = f.text_field :procedure
  .field
    = f.label :hazard
    = f.text_area :hazard
  .field
    = f.label :level_of_risk
    = f.text_field :level_of_risk
  .field
    = f.label :severity
    = f.text_field :severity
  .field
    = f.label :number_affected
    = f.text_field :number_affected
  .field
    = f.label :safety_points
    = f.text_area :safety_points
  .actions
    = f.submit 'Save'
