%p#notice= notice

%p
  %b Procedure:
  = @risk_assessment_safety.procedure
%p
  %b Hazard:
  = @risk_assessment_safety.hazard
%p
  %b Level of risk:
  = @risk_assessment_safety.level_of_risk
%p
  %b Severity:
  = @risk_assessment_safety.severity
%p
  %b Number affected:
  = @risk_assessment_safety.number_affected
%p
  %b Safety points:
  = @risk_assessment_safety.safety_points

= link_to 'Edit', edit_risk_assessment_safety_path(@risk_assessment_safety)
\|
= link_to 'Back', risk_assessment_safeties_path
