= f.label :name
= f.text_field :name

= f.label :email, 'Email (Optional)'
= f.text_field :email

= f.label :age
= f.text_field :age

= f.label :dob
= f.text_field :dob, data: {date_picker: true}

= f.label :study_year_id
= f.collection_select :study_year_id, StudyYear.all, :id, :id

= f.label :gender
= f.select :gender, User::Pupil.genders.map{|g, _| [g.humanize, g]}

= f.label :specified_class
= f.text_field :specified_class

= f.label :pupil_identifier
= f.text_field :pupil_identifier

- unless @pupil.klasses.any?
  = f.label :klass, "Assign to class"
  = f.collection_select :klass, @school.klasses, :id, :name, include_blank: '-- Choose Class --'

= f.submit 'Save'