- if pupils.any?
  .panel
    %table.index_table
      %thead
        %th ID
        %th Pupils
        %th Classes
        %th Courses
        %th View
        - if signed_in_as_administrator?
          %th Edit
        - if signed_in_as_administrator?
          %th Delete
      %tbody
        - pupils.each do |pupil|
          %tr
            %td= pupil.pupil_identifier
            %td= link_to pupil.name, faculty_pupil_path(pupil)
            %td= pupil.klasses.collect{|c| c.name}.join(', ')
            %td= pupil.courses.collect{|c| c.name}.join(', ')
            %td= link_to 'View', faculty_pupil_path(pupil)
            - if signed_in_as_administrator?
              %td= link_to 'Edit', edit_faculty_pupil_path(pupil)
            - if signed_in_as_administrator?
              %td= link_to_protected_delete 'Delete', faculty_pupil_path(pupil), 'Are you sure you want to delete this pupil?'
