- content_for :side_panel do
  = link_to 'All Pupils', faculty_pupils_path, class: 'primary_sidebar_link'
  = link_to 'Show', faculty_pupil_path(@pupil), class: 'secondary_sidebar_link'

%h2 Edit Pupil
.regular_form.narrow_form
  = form_for [:faculty, @pupil], url: faculty_pupil_path do |f|
    = errors @pupil, f
    = render 'form', f: f