#page_information
  %h3= pluralize(@pupils.count, 'Pupil')
  .action_links
    = link_to '+ Add Pupil', new_faculty_pupil_path, class: 'primary_link' if signed_in_as_administrator?
    :sass 
      input[type=file]
        display: none
    - if signed_in_as_administrator?
      = form_tag import_faculty_pupils_path, multipart: true do
        = label :csv_importer, 'Import CSV', for: :csv_file, class: 'primary_link'
        = file_field_tag :csv_file, value: :import, data: {auto_submit: true}
      = link_to 'Download Template', '/PupilImportTemplate.csv', class: 'secondary_link'
  .search_form
    = search_form_for @q, url: faculty_pupils_path do |f|
      = f.search_field :name_cont, placeholder: "Search by name...", data: {length_min: 10, length_max: 40}
      .hidden
        = f.submit :search

= render 'faculties/pupils/table', pupils: @pupils
