- content_for :side_panel do
  = link_to '< Back', faculty_pupils_path, class: 'secondary_sidebar_link'

%h2 New Pupil
.regular_form.narrow_form
  = form_for @pupil, url: faculty_pupils_path do |f|
    = errors @pupil, f
    = render 'form', f:f