= render 'pupil_graph' if @school.id == 1
#page_information
  .info_title
    %h3= @pupil.name
  .action_links
    = link_to 'Edit', edit_faculty_pupil_path(@pupil)
    = link_to 'All Pupils', faculty_pupils_path, class: 'minor_action_link'

.panel
  %table.index_table
    %tr
      %th.horizontal_heading ID
      %td= @pupil.pupil_identifier
    %tr
      %th.horizontal_heading Name
      %td= @pupil.name
    %tr
      %th.horizontal_heading Age
      %td= @pupil.age
    %tr
      %th.horizontal_heading Gender
      %td= @pupil.gender&.humanize
    %tr
      %th.horizontal_heading Classes
      %td= @pupil.klasses.collect{|c| c.name}.join(', ')
    %tr
      %th.horizontal_heading Courses
      %td= @pupil.courses.collect{|c| c.name}.join(', ')

#pupil_show_graph{data: {chart_url: graph_json_faculty_pupil_path(@pupil, :performance, format: :json)}}

.panel
  %table.index_table
    %thead
      %tr
        %th{colspan: 2} Lesson
        %th Quiz Time
        %th Quiz Score
        %th In-class mark
        %th Comments
        %th Total
        %th Absent?
    #tbody
      - @pupil.lesson_results.each do |result|
        %tr
          %td= result.lesson.lesson_number
          %td= result.lesson.name
          %td
            = "#{result.attempt.duration.to_i} seconds" rescue ""
          %td= result.score
          %td= result.in_class_mark
          %td= result.teacher_comments
          %td= result.total
          %td= result.absent
