= form_for [:admin, @lesson, @question] do |f|

  = f.label :question_type
  = f.select :question_type, [['Formative', :formative], ['Summative', :summative]]

  .field
    = f.label :question
    = f.text_area :question
  .field
    = f.label :slide_id
    = f.collection_select :slide_id, @lesson.slides, :id, :slide_number, prompt: '-- Please select it! --'

  .field
    = f.label :answer
    = f.text_area :answer
  .field
    = f.label :rocket_word_id
    = f.collection_select :rocket_word_id, @lesson.rocket_words, :id, :word, prompt: '-- Please select it! --'

  .actions
    = f.submit :submit
