#temp_banner
  %h1 Blogs

#temp_page
  .blog_item
    = image_tag '5_tips.jpeg'
    %h2 Tips for using spaced repetition:
    %p To start with, what is spaced repetition?
    %p Put simply, spaced repetition is a method of learning which involves repeating previously learned materials with increasing intervals of time between each subsequent review.
    %p The idea was first proposed as a solution to improve learning by Cecil A Mace in 1932 in the book Psychology of Study (1932). In 1939 Hebert F. Spitzer tested the idea on 3,600 students aged 11-12 years old to learn science facts and found it to be an effective tool.
    %p Typically it works on the basis of a number of sequential boxes (physical or digital) which contain a set of words, the words are moved from one box to another as they are recalled correctly and thus are less frequently recalled the more times they are remembered. Words which are not correctly recalled are brought forwards to be recalled more frequently until they are remembered.
    %p It's a fairly straight forwards system and a pen and paper version usually involves index cards with a word or phrase on the front of the card and the corresponding meaning or associated word(s) to be learned on the reverse of the card.
    %p Below are 5 tips for introducing spaced repetition in to your learning:
    %p
      %strong 1. Don't add too many new words at once
    %p Typically, as humans, we can only remember 5-9 new words at any one time, introducing more than this amount reduces the likelihood that words will be transferred to long-term memory. Try to resist adding more than this.
    %p
      %strong 2. Review the "cards" regularly
    %p Whether you are physically using index cards or using a digital solution, it is important that students are regularly reviewing the "boxes" of cards to embed knowledge to long term memory.
    %p
      %strong 3. No learning system is an island
    %p Just as no person is an island, spaced repetition cannot be used alone. The words have to be learned in the first place and there is no substitution for students hearing the words in context from the teacher and using them in conversation with their partner.
    %p
      %strong 4. Images can help to remember the context of the words
    %p Pairing the words with relevant images can evoke a process called dual coding, which is the idea that seeing an image alongside the meaning creates a separate memory trace, helping you remember it later.
    %p
      %strong 5. Consider using software to aid you
    %p There's lots of great software out there which you can use in and out of the classroom to help manage your "deck" of cards, a quick Google can provide you many examples.
    %p
      At Developing Experts we provide a complete solution for primary science with a library of hundreds of engaging lessons containing video interviews, hands-on experiments and quizzes which utilise spaced repetition (and all of the above tips!) to help improve learning outcomes. Find out more
      = succeed "." do
        %a{:href => "http://developingexperts.com/pages/product"}
          %span here
  .blog_item
    = image_tag 'betts_blog.jpg'
    %h2 The Bett Show Launch
    %p We were delighted to attend this year’s BETT Show in January to launch Developing Experts’ platform.
    %p Our primary science and mathematics curriculum was greeted by hundreds of schools with great enthusiasm. One teacher commented, ‘This sorts the teacher workload issue’ and another headteacher asked, ‘how soon can you sort the rest of the curriculum?’ With numerous other visitor expressing similar comments. Our answer, ‘we are on the case!’
    %p Thank you to everyone who paid a visit to our stand and demonstrate such support and enthusiasm for our product. We look forward to working with you all!