#home_intro_panel.home_panel


  #intro_text
    #intro_text_inner
      %h1 Deliver inspiring lessons your students will remember
      %h2 Developing Experts is a beautifully crafted, primary science lesson resource and assessment solution which engages students to learn knowledge and subject specific skills so it becomes part of their long term memory.
      = link_to 'About the product', product_pages_path, class: 'hero_action_link'
#message
  = notice
#main_page
  #home_mission_panel.home_panel
    .home_panel_inner
      #mission_panel_image
        = image_tag 'comp.png'
      .home_panel_text
        %span Our Mission is to
        %h2 Transform the learning experiences for children and teachers
        %p by providing a scripted, sequenced curriculum which develops deep knowledge and related skills through storytelling.
        %p Developing Expert’s technology platform is designed to enable learners to learn more and forget less; we go beyond the National Curriculum. Developing Expert’s sequenced lesson resources, story telling approach, practical experiments and quizzes, ensures every learner has access to outstanding lesson content fully mapped against the National Curriculum.
  #home_product_panel.home_panel
    .home_panel_inner
      %h2 Developing Experts responds to a variety of needs.
      #home_product_points
        .home_product_point
          %h3 Curriculum
          %p A science and mathematics curriculum delivered through story, song and film which inspires learning.
        .home_product_point
          %h3 Assessment
          %p An assessment solution which responds to how well each student is performing and revisits lessons until the content is mastered.
        .home_product_point
          %h3 Teacher
          %p Enables you to teach subjects as a specialist. Freeing up teachers’ time to support students who need it the most.

    %p.product_panel_quote 'Developing Experts illustrates how much the resource has combined tech with substance and with psychological theory designed to secure interest and uptake in their "lesson plan format”. They are unique in unifying so many practical and theoretical factors.’ Dr. E.D.Hirsch Jr.
  #home_audience_highlights.home_panel
    .home_panel_inner
      .audience_panel_intro
        %h2 Our Solution
        %p.summary Developing Expert’s platform has been designed to respond to the needs shown. We believe our filed patent demonstrates that our tech solution, is the first online platform to fully embrace educational research, evidenced to have the greatest impact on a child’s learning.
      #home_audience_highlights_inner
        .parent.home_audience_highlight
          = image_tag 'parent_home.png'
          %h3 Parent
          %p Informs you immediately if your child is not making the required progress.
          %p Enables you to create a Virtual school with the complete primary solution.
          %p Online resources which enables any learner to gain the right support to learn.
        .pupil.home_audience_highlight
          = image_tag 'pupil_home.png'
          %h3 Pupil
          %p Resources which maximize engagement through storytelling and film.
          %p Weekly competitive quizzes pushed out to maximize and track retention supported by our praise system.
          %p Access to outstanding lessons delivered through engaging and fun experiments and tasks.
        .teacher.home_audience_highlight
          = image_tag 'teacher_home.png'
          %h3 Teacher
          %p Provides teaching resources which will enable you to deliver outstanding lessons.
          %p Resources which support your CPD development are pushed out.
          %p Reward and tracking systems which praises performance immediately and addresses absence and your workload.
  #home_research.home_panel
    .home_panel_inner
      %h2 Our Research
      .home_graph_image
        = image_tag 'graph.png'
      .home_panel_text


        %p After six days students typically lose up to 77% of newly learnt skills and knowledge.

        %p Developing Experts’ learning platform, ensures students retain content learned to help counter the effects of the ‘Forgetting Curve’. This term describes the rate in which newly acquired knowledge starts to deteriorate or be forgotten. This graph outlines how much information is correctly retained after 6 days.

        %p Source: "Memory: A Contribution to Experimental Psychology -- Ebbinghaus (1885/1913)".

  #study_features_panel.home_panel
    .video_panel
      = video_tag 'fp_1.mp4', loop: true, autoplay: true, poster: 'vid_frame.jpg'
    .home_panel_inner



  //#stats_panel.home_panel
  //  .home_panel_inner
  //    %h2 What the research says

  #contact_summary_panel.home_panel
    .home_panel_inner.contact_pnl
      #home_contact_form
        = form_for @enquiry do |f|
          = f.label :name
          = f.text_field :name

          = f.label :email
          = f.text_field :email

          = f.label :body
          = f.text_area :body, rows: 6

          = f.submit :send

      #home_video_something
        .home_panel_text
          %h2 Need more info?
          %p Get in touch today to arrange a demo.
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b389oaw96fY" frameborder="0" allowfullscreen></iframe>

