%h1 Listing pages

%table
  %thead
    %tr
      %th Name
      %th Body
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.name
        %td= page.body
        %td= link_to 'Show', page
        %td= link_to 'Edit', edit_page_path(page)
        %td= link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_page_path
