#temp_banner
  %h1 The Product
#temp_page.product_page
  #product_intro

    //%h2 A lesson resource and assessment solution, responding to how well each student is performing and revisiting lessons until the content is mastered.
    %h2 A lesson resource and assessment solution responsive to student performance for mastering of content.
    %p
      The platform provides a
      //= link_to 'library of lessons', '#'
      %b library of lessons
      , formed of
      //= link_to 'online presentations', '#'
      %b online presentations
      ,
      //= link_to 'interviews with experts', '#'
      %b interviews with experts
      ,
      %b practical experiments,
      %b songs
      and
      %b quizzes
      improving the quality of your lessons while
      //= link_to 'reducing your costs.', '#'
      %b reducing your costs.

  #product_table
    .product_table_section
      .product_table_image
        = image_tag 'product_shot_one.png'
      .product_table_text
        %h3 Story driven lessons and hands-on learning
        %p
          The storytelling approach, practical experiments and quizzes, ensure every learner has access to outstanding lesson content, fully mapped against the National Curriculum and International Baccalaureate.
        %p
          We embrace a hands on learning experience delivered through a range of fully demonstrated practical experiments. These are designed to develop learners' understanding through a variance theory approach, enabling learners to explore each concept taught through a number of ways.

    .product_table_section
      .product_table_text
        %h3 Developing knowledge and long term memory
        %p Students revisit lesson content frequently in the days following each lesson to commit knowledge and skills to long term memory. Daily notifications inform parents and students what they need to do improve learning outcomes.
        %p As students spend time on the system mastering content, with rewards and achievements are given to encourage engagement.
      .product_table_image
        = image_tag 'product_shot_two.png'

    .product_table_section
      .product_table_image
        = image_tag 'product_shot_three.png'

      .product_table_text
        %h3 High quality, consistent lesson delivery
        %p The platform helps teachers deliver outstanding lessons through supporting resources; including lesson plans, risk assessments for practical experiments, handouts and end of unit summative tests.
        %p Pre-prepared curriculum content means delivery of high quality lesson content is easy for anyone.

= link_to 'Get a demo', enquiries_path, class: 'action_button'