#temp_banner
  %h1 The Research
#temp_page

  %p In 2015, we set out on a journey of research to explore what pedagogical teaching methods provided the greatest impact on a student’s learning outcomes. As a result, our path led us to build a relationship with Dr E. D. Hirsch Jr. who serves on our management board to guide our platform content and approach.

  %p Here’s how research has shaped the design of our platform:

  %h3 Our Story Telling Approach
  %p Robert Mckee argues that storytelling is the most powerful way to put ideas into the world today. We agree! Arya and Maul’s research provides evidence that learning outcomes are improved when putting to-be-learned materials into a story format. Developing Experts uses storytelling to engage students through our scripted curriculum as they discover a world of learning.

  %blockquote ‘Putting to-be- learned material in a story format improves learning outcomes.’
  %cite Arya & Maul 2012

  %h3 Our Quiz Challenges
  %p Our quiz challenges are designed to support students remember more and forget less. The Forgetting Curve is a hypothesis about how much information we can retain over time. The hypothesis states that student forget 77% percent of what we have learned within six days. That is why reviewing learned content within the first 24 hours of initially taking in the information is so important. Every time we recall and review the material, we forget less and less.

  %p In addition to this what sets our platform apart is our approach to testing. When a student completes a quiz, if they answer a question incorrectly they are taken back to the point in the story to unlock its meaning in context. Dr E. D. Hirsch highlights that

  %blockquote ‘We learn words up to four times faster in a familiar than in an unfamiliar context.’
  %cite Dr. E. D. Hirsch Jr.

  %p When the student completes a quiz, if they answer a question incorrectly they are taken back to the point in the story a word and it meaning is explained so that the student can unlock its meaning in context. The algorithms for our platform are programmed to respond to how well a learner has mastered the content. Developing Experts’ push technology ensures that learners see words and meanings daily through our quiz challenges, then every few days, then a few weeks later, so key topics stay fresh in their minds. This approach is supported by Robert Bjork’s research which states:

  %blockquote
    ‘1. Spacing practice: information that is presented repeatedly over spaced intervals is learned much better than information that is repeated without intervals.
    %br
    2. Interleaving: although people think that they learn better when content is blocked, rather than interleaved, people actually learn content better when it is interleaved with other content.
    %br
    3. Testing: using our memory improves our memory: the act of retrieval helps us remember the things we recall. When information is successfully retrieved from memory, its representation in memory is changed such that it becomes more recallable in the future.’
  %cite Robert Bjork, 1975

  %p We can only retain a limited amount of learning in our working memories. We use spaced repetition to support learners transfer content learned from the working to long term memory. Developing Experts solution factors in when the pupils are due to sit key external tests so during key revision periods prior to examinations, key topics are revisited to exercise the child’s retention.

  %blockquote ‘What we can learn from cognitive science is simple: avoid overloading the working memory and build long-term memory with questions, knowledge, examples, stories, analogies, practice, mnemonics and hard work.’
  %cite Daniel T. Willingham

  %h3 Our Curriculum
  %p When discussing our curriculum and learning approach with Dr E. D. Hirsch Jr., we spent several hours attempting to find a suitable name which summarised our ethos. ‘Developing Experts’ is the name Dr. E. D. Hirsch Jr. suggested because our curriculum places equal emphasis on developing knowledge and domain specific skills.

  %p Developing Experts has invested 1000s of hours writing materials which convey key facts which help students deepen their understanding of a topic. The following research sets out why we have written material which places an emphasis on delivering a content rich curriculum.

  %h4 1) Reading comprehension depends on broad knowledge and a large vocabulary.
  %p From newspapers to novels, all texts for literate adults omit basic information—they use terms, draw analogies, and make references without offering definitions or explanations. In short, they assume that the reader has a base level of knowledge. In order for children to grow into literate adults that read widely with ease, we have adopted a science curriculum which builds broad knowledge—teaching all the knowledge that writers assume readers have.
  %p To learn more, read "Can Reading Comprehension Be Taught?" by Daniel Willingham and watch Willingham's video, "Teaching Content Is Teaching Reading."

  %h4 2) Critical thinking and problem solving depend on broad knowledge and deep knowledge.
  %p Broad knowledge is necessary for comprehension—so it’s also the starting place for critical thinking, problem solving, and creativity. Try designing a study to compare water-filtration technologies without knowing much about waterborne diseases or filtration methods. There simply are no all-purpose thinking skills that can be deployed effectively without knowledge.
  %p To learn more, read “21st Century Skills: The Challenges Ahead” by Andrew J. Rotherham and Daniel Willingham, and "Education in the Age of Google" by Annie Murphy Paul.

  %h4 3) Knowledge increases IQ.
  %p Although many people in Western cultures believe intelligence is genetically determined, a more accurate view is that intelligence is influenced by both genes and the environment. Learning new knowledge actually increases intelligence. Just like practice in sports leads to new skills and better performance, time spent reading and studying leads to higher achievement and greater ability.
  %p To learn more, read "Schooling Makes You Smarter" by Richard Nisbett.

  %h4 4) Knowledge is like an interest-bearing savings account: The more you know, the faster you learn.
  %p Starting a subject from scratch is tough; adding a few more facts and concepts to something you already know a lot about is easy. Another way to think about your knowledge is like a sticky web. The bigger your web, the more stuff will stick to it. The smaller your web, the more information will pass on by without being added to your store of knowledge.
  %p To learn more, watch Robert Pondiscio's presentation on “The 57 Most Important Words in Education Reform.”

  %h4 5) The early years are critical for building knowledge and vocabulary.
  %p While building knowledge is always beneficial, the early years are especially important. Some children build lots of academic knowledge at home, but others rely on their schools. In the early years, the gaps are still relatively small and the odds of catching up are better.
  %p To learn more, read "The Word Gap" by Laura Colker and "Building Knowledge" by E. D. Hirsch, Jr. Also, watch Susan Neuman explain "Why Knowledge Matters."