#samples_page
  %h1 Sample Missions
  %p You can see some examples of lessons from our extensive library below.
  - @presentations.each_with_index do |presentation, i|

    = link_to presentation.lesson_template.display_name, presentation
    = link_to 'Resource', "/public_resources/#{i+1}.pdf", class: 'resource_sample'
    %span= "Year #{presentation.study_year.id} - #{presentation.unit.name}"