.pupil_mission_thumbnail_container{data: {mid: lesson.machine_name}}
  .pupil_mission_thumbnail{class: ('disabled' unless lesson.available?)}
    - if lesson.available?
      = link_to(image_tag(lesson.cover_image.pupil_thumbnail), big_preview_pupil_lesson_path(lesson), remote: true)
    - else
      = image_tag(lesson.cover_image.pupil_thumbnail)
