
#welcome_container
  #welcome_container_inner
    #school_info
      = image_tag @school.display_logo
      %h2= @school.name
    #profile
      #profile_picture
        = image_tag current_user.avatar_image
      #profile_content
        %h4= "#{greeting}, #{current_user.name}!"
        #profile_trophys
          .trophy= image_tag('http://www.seaicons.com/wp-content/uploads/2016/05/Trophy-bronze-icon.png', title: 'bronze trophy')
          .trophy= image_tag('http://www.seaicons.com/wp-content/uploads/2016/05/Trophy-silver-icon.png', title: 'silver trophy')
          .trophy= image_tag('http://www.seaicons.com/wp-content/uploads/2016/05/Trophy-gold-icon.png', title: 'gold trophy')
        #profile_progress
          .progress_bar_container{data: {total_progress: @pupil.lessons.count}}
            .progress_bar.lesson_progress_bar{data: {progress: @pupil.lessons.available.count}}
            .progress_bar.task_progress_bar{data: {progress: @pupil.lessons.count - @pupil.lessons.available.count}}
          .milestones
            %span{style: 'color: green'}
              = pluralize @pupil.lessons.available.count, 'mission'
              completed
            %span{style: 'color: #FF9800'}
              = pluralize @pupil.lessons.count - @pupil.lessons.available.count, 'mission'
              to go
            %span
              = pluralize @pupil.lesson_results.to_a.count{|x| !x.attempt.completed?}, 'task'
              available

  #pupil_welcome_graph.welcome_graph{data: {chart_url: pupil_path(:performance, format: :json)}}
