= render 'welcome'

#lesson_show_panel_container.entrance
- if @lesson
  #this_weeks_lesson
    .pupil_mission_thumbnail_container.large{data: {mid: @lesson.machine_name}, style: "background-image: url(#{image_path(@lesson.cover_image)})"}
    #mission_preview
      .mission_preview_summary_container
        %h1 This week's mission:
        %h2
          Mission Objective
          %br
          #{@presentation&.lesson_template&.study_year&.mascot_name} wants you to:
        %h3= "- #{@lesson.name}"

        %p
          %b Rocket Words:
          %br
          = @lesson.rocket_words.map{ |w| content_tag(:span, w.word, class: 'rw') }.join(', ').html_safe

        = link_to 'Watch Presentation', course_presentation_slide_path(@lesson.course, @lesson.presentation, @lesson.presentation.slides.first), class: 'begin_mission'
        - if @lesson.get_result_for(current_user).attempt.completed?
          = link_to 'Quiz Completed', pupil_lesson_path(@lesson), class: 'begin_mission'
          = link_to 'Try again for fun?', start_quiz_pupil_lesson_path(@lesson), class: 'begin_mission'
        - else
          = link_to 'Take Quiz', start_quiz_pupil_lesson_path(@lesson), class: 'begin_mission'

#pupil_mission_list
  = render partial: 'pupil/lessons/pupil_lesson_thumbnail', collection: @pupil.lessons, as: :lesson

