%table.pupil_table
  %thead
    %tr
      %th Name
      %th Quizzes Completed
      %th Score
  %tbody
    - @pupils.each do |pupil|
      %tr
        %td
          - if pupil == current_user
            = pupil.name
          - else
            = '*' * 4
            = '*' * 4
        %td= pupil.lesson_results.count
        //%td= pupil.lesson_results.sum(&:total)

