#page_information
  .info_title
    %h3 Welcome back

- if signed_in_as_faculty?
  - if current_user.this_weeks_lesson
    #dashboard_lesson_preview{style: "background-image: url(#{current_user.this_weeks_lesson.cover_image})"}
      .lesson_preview_inner
        %h3 This week's lesson
        %h2= current_user.this_weeks_lesson.display_name
        %p
          %b Rocket Words:
          %br
          = current_user.this_weeks_lesson.rocket_words.map{ |w| content_tag(:span, w.word, class: 'rw') }.join(', ').html_safe
        .lesson_actions
          = link_to 'View Lesson Plan', faculty_lesson_path(current_user.this_weeks_lesson)
          = link_to 'View Presentation', presentation_path(current_user.this_weeks_lesson.presentation)
          = link_to 'Mark Lesson', mark_faculty_lesson_path(current_user.this_weeks_lesson)
  - elsif current_user.next_lesson
    #dashboard_lesson_preview{style: "background-image: url(#{current_user.next_lesson.cover_image})"}
      .lesson_preview_inner
        %h3 Your Next lesson
        %h2= current_user.next_lesson.display_name
        %p
          %b Rocket Words:
          %br
          = current_user.next_lesson.rocket_words.map{ |w| content_tag(:span, w.word, class: 'rw') }.join(', ').html_safe
        .lesson_actions
          = link_to 'View Lesson Plan', faculty_lesson_path(current_user.next_lesson)
          = link_to 'View Presentation', presentation_path(current_user.next_lesson.presentation)
          = link_to 'Mark Lesson', mark_faculty_lesson_path(current_user.next_lesson)
  - else
    #dashboard_lesson_preview
      .lesson_preview_inner
        %h3 You have no upcoming lessons

