%h2 Administrators
%table
  %thead
    %th Name
    %th Email
    %th{colspan: 2} Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to 'Send Message', new_faculty_message_path(recipient_id: user.id)