%h1 Resources
%table
  %thead
    %tr
      %th
      %th Resource
  - @resources.each do |resource|
    %tr
      %td= link_to resource.name, resource.file.try(:url)
      %td.action_cell
        = link_to 'delete', admin_lesson_template_resource_path(@lesson, resource), method: :delete, data: {confirm: "Sure?"}
  %tr
    %td= link_to "Add New", new_admin_lesson_template_resource_path(@lesson)