= form_for [:admin, @school] do |f|

  = f.label :name
  = f.text_field :name

  = f.label :subdomain
  = f.text_field :subdomain

  .field
    - if f.object.sidebar_image.url.present?
      .image_preview
        = image_tag f.object.sidebar_image.square
    = f.label :sidebar_image
    = f.file_field :sidebar_image

  = f.submit
