- provide :title, 'Schools'

#page_information
  .info_title
    %h1= pluralize(@schools.count, 'School')
    .info_button_container
      .button_group
        = link_to '+ Create School', new_admin_school_path, class: 'button'

.panel
  %table.index_table
    %thead
      %th{colspan: 1} School

    %tbody
      - @schools.each do |school|
        %tr
          %td= link_to school.name, [:admin, school]
          -#%td= link_to 'Teachers', [:admin, school, :user_faculties]
          -#%td= link_to 'Courses', [:admin, school, :courses]
          -#%td= link_to 'Classes', [:admin, school, :klasses]
          -#%td= link_to 'Pupils', [:admin, school, :pupils]
