#form_page
  = form_for [:admin, @school] do |f|
    = f.error_messages
    #upper_form
      .title_field.sync_field
        = f.text_field :name, placeholder: 'Brand name'
      .right_form_buttons.full_form
        = f.submit
        =# link_to_delete 'Delete', @brand, class: 'minor_form_button' unless @course.new_record?

    #main_form.two_panel_form
      #summary_form_panel
        .summary_title.full_form

        .field.sync_field
          = f.label :name
          = f.text_field :name
        .field.sync_field
          = f.label :subdomain
          = f.text_field :subdomain
        .field.sync_field
          = f.label :logo
          = f.text_field :logo
        .field.sync_field
          = f.label :twitter
          = f.text_field :twitter
        .field.sync_field
          = f.label :facebook
          = f.text_field :facebook

        .field.sync_field
          = f.label :sidebar_image
          = f.text_field :sidebar_image



      #tabs_form_panel.full_form

        .tabs_container
          = tabs do
            = tab :Teachers do
              ason
            = tab :Courses do
              ason
            = tab :Classes do
              ason
            = tab :Pupils do
              ason


    #lower_form
      .right_form_buttons
        = f.submit
        =# link_to_delete 'Delete', @course, class: 'minor_form_button' unless @course.new_record?
