input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single,
  box-sizing: border-box
  position: relative
  background-color: #fff
  padding: 11px
  line-height: 22px
  height: 40px
  width: 100%
  color: #3e3e3e
  border: 1px solid #D1D5D7
  margin-bottom: 10px
  border-radius: 5px
  transition: border 0.3s
  cursor: pointer
  &.error
    border: 1px solid $error
  &:focus
    outline: none
    border: 1px solid $primary_color

.select2-container--default .select2-selection--multiple,
  margin-bottom: 0
  padding: initial
  height: initial

.select2-container--default .select2-selection--single
  padding: 4px

.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 32px

select
  -webkit-appearance: none
  padding: 5px 11px

textarea
  height: auto
  resize: vertical

.field
  margin-bottom: 10px

.field_description
  font-size: 0.8rem
  font-style: italic
  position: relative
  bottom: 3px
  margin-bottom: 10px

#admin_form
  box-shadow: 0 2px 10px rgba(0,0,0,0.23)
  width: 100%
  box-sizing: border-box
  padding: 30px
  background: white
  &.narrow_form
    max-width: 550px

.secondary_form_link
  float: right
  color: #666
  font-size: 0.875rem

.checked_toggle_hide:checked ~ .field
  display: none

.checked_toggle_hide ~ .field
  display: block

.colorpicker
  width: 60px
  height: 60px

.split_form
  +flexbox

.split_form_left
  +flex(2)
  padding-right: 15px

.split_form_right
  +flex(1)
  padding-left: 15px
  img
    width: 120px

#login_form
  width: 100%
  padding: 20px
  box-sizing: border-box
  background: white
  border-radius: 5px
  box-shadow: 0 2px 10px rgba(0,0,0,0.23)
  max-width: 600px
  margin: 40px auto

  h1
    margin-top: 0
    font-size: 1.5rem
    color: $primary_color

.inline_field
  width: 50%
  display: inline-block
  vertical-align: middle

.inline_field.textarea_inline
  height: 50px

.inline_field + .actions
  display: inline-block
  vertical-align: middle

.inline_field.textarea_inline + .actions
  vertical-align: top

.actions
  margin-bottom: 10px

td input[type="text"]
  height: 36px
  margin: 0
  background-color: #FFF
  border: 1px solid #bbb

.table_form
  padding: 0
  .even_split_container
    margin: 0 1px
  input, .cancel_button
    height: 36px
    line-height: 36px
    border: 1px solid #bbb!important
    width: 100%

.cancel_button
  border: 0
  background-color: #383838
  font-size: 0.75rem
  display: inline-block
  color: white
  text-transform: uppercase
  letter-spacing: 1px
  text-align: center
  box-sizing: border-box
  padding: 8px
  float: right

.compact_form, .inline_field, .inline_field + .actions
  input
    height: 30px
    line-height: 30px
    margin-bottom: 0
    &[type="submit"]
      font-size: 0.8rem
      letter-spacing: 0

.form_with_text span
  display: block
  margin-bottom: 15px
  font-size: 0.875rem

.check_box_field
  margin-bottom: 10px

.field_group
  margin-bottom: 30px
  border: 1px solid #ddd
  padding: 20px
  box-sizing: border-box
  h2
    font-size: 1.25rem
    text-transform: uppercase
    color: $primary_color

.input_cell
  padding: 0
  height: 35px
  border: 2px solid #ABABAB
  input[type="text"]
    display: block
    border: 0

.field_with_errors
  input
    border: 1px solid $error!important

input[type=checkbox]
  background: white
  border: 1px solid #bbb
  padding: 3px
  -webkit-appearance: initial
  height: 15px
  width: 15px
  box-sizing: border-box
  vertical-align: middle
  border-radius: 2px
  outline: none
  margin: 4px 0
  cursor: pointer

  &:checked
    border: 1px solid $primary_color
    &:after
      content: '\f00c'
      font-family: FontAwesome
      color: $dark_primary_color
      margin-top: -4px
      margin-left: -3px
      display: block
      font-size: 14px
      -webkit-text-stroke: 1px white
      position: absolute
      height: 0
      width: 0

  + label
    margin-left: 5px
label ~ input[type=checkbox]
  margin-left: 5px

ul.form_errors
  padding: 20px
  margin: 0 0 20px
  border: 1px solid $error
  color: $error
  background-color: white
  border-radius: 3px
  h4
    margin: 0 0 10px
  li
    list-style: none
  h4, li
    color: $error

#form_page
  margin: 0 auto

.title_field
  width: 60%
  position: absolute
  input
    font-size: 20px
    color: black
    padding: 11px 7px
    border: none
    border-bottom: 1px solid #ccc

.right_form_buttons
  position: absolute
  right: 0

div#upper_form, div#lower_form
  height: 80px
  position: relative
  padding: 20px 0 10px

#quick_edit_panel
  .full_form
    display: none
  .title_field
    width: 100%

#main_form
  background-color: #fff
  border: 1px solid #d1d5d7
  border-radius: 3px
  min-height: 500px
  &.two_panel_form
    +flexbox
  &.single_form
    padding: 16px
  #summary_form_panel
    width: 450px
    min-width: 400px
    max-width: 500px
    +flex(1)
    border-right: 1px solid #d1d5d7
    min-height: 498px
    padding: 16px
    box-sizing: border-box
  #tabs_form_panel
    +flex(2)

.summary_title
  border-bottom: 1px solid #d1d5d7
  margin-bottom: 24px
  padding: 12px 4px 20px
  h3
    margin: 0
    font-weight: 400

.address_card
  display: inline-block
  background: #e5e5e5
  color: #555
  padding: 24px
  border-radius: 3px
  margin: 10px 10px 10px 0
  font-size: 14px
  min-width: 160px
  p
    margin: 0


.fields
  +flexbox
  .field
    &.field--grow
      +flex-grow(1)
    &.field--shrink
      +flex-shrink(1)
    &.field--2
      +flex(50)
  &.fields--stacked
    +flex(50)
    flex-direction: column
  .field--left
    margin-right: 4px
  .field--right
    margin-left: 4px

.field_help
  p
    color: #777
    font-size: 0.8rem
    margin: 0
    line-height: 15px

.check_box_group
  label
    display: block
    line-height: 2rem
    cursor: pointer
    span
      text-transform: none
      font-weight: normal
      font-size: 0.8rem
      color: rgba(0, 0, 0, 0.87)
      margin: 0 0 0 5px
      display: inline-block
      position: relative
      top: 2px

fieldset
  border: 1px solid #ddd
  padding: 24px
  margin-bottom: 24px

legend
  font-size: 1.1rem
  color: #aaa

.select2-container--default .select2-search--inline .select2-search__field
  margin: 0
  height: 26px

.select2-container--default.select2-container--focus .select2-selection--multiple
  border: 1px solid #D1D5D7

.with_select input
  border-radius: 2px 0 0 2px
  border-right: none
.with_text_field select
  border-radius: 0 2px 2px 0
  background: $primary_color
  color: white

.helper_text_panel
  padding: 30px

.comment_box
  font-size: 0
  .field, .actions
    display: inline-block
    vertical-align: bottom
  .field
    width: 85%
    textarea
      margin-bottom: 0
      height: 150px
  .actions
    width: 15%
    padding-left: 8px
    box-sizing: border-box
    input
      width: 100%

//new hack form css
.red_x_button
  a
    color: rgba(red, 0.65)
    font-weight: lighter
    font-size: 1.5rem

.align_items_right
  +flexbox
  +justify-content(flex-end)

.bordered_tr
  + .bordered_tr
    border-top: 1px solid rgba($divider_color, 0.15)

.padded_td
  padding: 5px
  text-align: center
  &:first-child
    padding-left: 0
  &:last-child
    padding-right: 0

// .inputfile
//   width: 0.1px
//   height: 0.1px
//   opacity: 0
//   overflow: hidden
//   position: absolute
//   z-index: -1

.inputfile + label
  cursor: pointer

.check_box_hack input
  position: absolute
  top: -9999px
  left: -9999px

.check_box_hack
  border: 1px solid $light_primary_color
  border-radius: 5px
  width: 17%
  height: 200px
  vertical-align: top

.check_box_hack_active
  border: 5px solid $light_primary_color

#tabs_form_panel > div > div.tab_panels_container > div:nth-child(1) > div > div.tab_panels_container > div:nth-child(4) > div.field.padding > span
  width: 1000px

#devise_form #page_wrapper
  display: block
  min-width: 0
  min-height: 0
