#flash_container
  overflow: hidden
  bottom: 0
  width: 400px
  z-index: 100
  text-align: center
  margin: 0 auto -37px
  height: 37px
  border-radius: 3px
  transition: opacity 0.3s

  .flash
    font-size: 13px
    color: rgba(black, 0.7)
    transition: 0.2s
    position: relative
    font-weight: 600
    background: #DADADA

    @for $i from 0 through 19
      &:nth-child(#{$i})
        z-index: #{20 - $i}


    &:last-child
      margin-bottom: 0

    .flash_inner
      padding: 10px 30px

    &.flash_hidden
      opacity: 0

    &.level-notice
      background: #228fd4
      color: white

    &.level-alert
      background: #e5f16c

    &.level-important
      background: #607D8B
      color: white

    &.level-error
      background: #F44336

    &.level-success
      background: #5DBD61
      color: white

    .flash_close
      float: right
      opacity: 0.5
      transition: 0.1s
      border-radius: 50%
      margin-top: -10px
      margin-right: -30px
      width: 37px
      height: 37px
      text-align: center
      line-height: 40px
      cursor: pointer

      &:hover
        opacity: 0.9
        background: rgba(white, 0.2)
