#invoice

  .print_header
    display: none

@media print

  #invoice

    .print_header
      display: block
      margin-bottom: 0.5cm
      width: 100%

      div
        display: inline-block
        height: 2cm

      .logo img
        height: 100%

      .order_number
        float: right

    #order_items
      padding: 0

      legend
        display: none

      thead, th, .total_row
        background: transparent

      .total_row
        font-weight: bold
        height: inherit

      tbody tr
        height: 4.5rem

      .small_image_thumbnail
        margin: auto

  .non_printing
    display: none
