.index_table
  width: 100%
  thead, .f_head
    background-color: rgba(170, 180, 200, 0.1)
    font-weight: bold
    letter-spacing: 0.05em
    text-transform: uppercase
    font-size: 11px
  th, .f_th
    white-space: nowrap
    background: #f7f8f9
    text-align: left
    border-bottom: 1px solid #dcdee3
    border-right: 1px solid #dcdee3
    font-size: 11px
    text-transform: uppercase
    font-weight: 500
    color: #8c96aa
    letter-spacing: 0.05em
    padding: 0 14px
    border-bottom: 0 !important
    border-top: 0 !important
    line-height: 40px
    max-height: 40px
    height: 40px
    &:last-of-type
      border-right: none
  tbody, .f_tbody
    tr, .f_tr
      height: 50px
      &.incomplete
        opacity: 0.5
    td, .f_td
      padding: 14px
      line-height: 18px
      border-top: 1px solid rgba(170, 180, 200, 0.2)
      box-sizing: border-box
      font-size: 13px
      color: #3d4d5f
      vertical-align: middle
      &.thumbnail_column
        padding: 3px
        width: 75px

  .narrow_column
    width: 1px

  .feature_column
    width: 40%

  .small_image_thumbnail
    width: 40px
    overflow: hidden
    border-radius: 3px
    display: inline-block
    vertical-align: middle
    margin-right: 20px
    img
      display: block

.no_wrap
  white-space: nowrap

.bulk_actions_panel
  position: absolute
  top: 0
  background: rgba(170, 180, 200, 0.5)
  width: 100%
  left: 0
  height: 0
  overflow: hidden
  box-sizing: border-box
  transition: 0.3s
  text-align: right
  .bulk_selector, .bulk_submit
    display: inline-block
  .bulk_selector select
    font-size: 14px
  .bulk_submit input
    line-height: 35px

.bulk_actions_show
  .bulk_actions_panel
    height: 60px
    padding: 10px
  .panel
    padding-top: 60px

.tab_panel
  table
    text-align: left
  th, .f_th
    white-space: nowrap
    text-align: left
    font-size: 11px
    font-weight: 500
    color: black
    letter-spacing: 0.05em

