- provide :title, 'Enquiries'

#page_information
  .info_title
    %h1= pluralize(@enquiries.count, 'Enquiry')
    .info_button_container
      .button_group
        -#= link_to '+ Create Pupil', new_admin_pupil_path, class: 'button'

.panel
  %table.index_table
    %tr
      %th Name
      %th Email
      %th Message
      -# %th Date
      %th

    - @enquiries.each do |enq|
      %tr
        %td= enq.name
        %td= enq.email
        %td= simple_format enq.body
        -# %td= enq.created_at.strftime("%D")
        %td= link_to 'Delete', [:admin, enq], method: :delete, data: {confirm: "Sure?"}
