- provide :title, 'Pupils'

#page_information
  .info_title
    %h1= pluralize(@pupils.count, 'Pupil')
    .info_button_container
      .button_group
        -#= link_to '+ Create Pupil', new_admin_pupil_path, class: 'button'

.panel
  %table.index_table
    %tr
      %th Name
      %th School
      %th ID

    - @pupils.each do |user|
      %tr
        %td= user.name
        %td= user.school.name
        %td= user.pupil_identifier
