.avatar_choice.achieved{style: "background-color: #{avatar.completed_color}", class: ('new_avatar' if avatar.new_avatar)}
  .avatar_image= link_to image_tag(avatar.image), set_avatar_pupil_achievement_path(avatar.id)
  .avatar_achiement= avatar.completed_text
