.avatar_choice.unachieved
  .avatar_image= image_tag 'locked_avatar'
  .avatar_task= avatar.challenge
  .avatar_progress= avatar.progress_text
  .avatar_progress_bar{style: 'width: ' + (avatar.progress*100).to_s + '%'}
