#user_bar
  #user_bar_logo
    = image_tag('white_logo.png')

  #user_bar_menu
    = link_to('Dashboard', root_path)
    = link_to('Teachers', faculty_teachers_path) if signed_in_as_administrator?
    = link_to('Courses', faculty_courses_path) 
    = link_to('Classes', faculty_klasses_path)
    = link_to('Pupils', faculty_pupils_path)
    = link_to('Reports', faculty_reports_path) if signed_in_as_administrator?
    //= link_to('Settings', faculty_settings_path)

  //#user_site_search
  //  = form_tag faculty_search_path do
  //    = text_field_tag(:search)
  //    = content_tag(:i, '', class: 'fa fa-search')

  #user_quick_links
    - if current_user.courses.any?
      = link_to(fa_icon('calendar-o'), edit_faculty_course_path(current_user.courses.first))
    = link_to(content_tag(:i, '', class: 'fa fa-user'), edit_faculty_teacher_path(current_user))
    = link_to('Logout', destroy_user_session_path, class: 'logout_link')
