-# #user_status_bar
-#   .left_info
-#     - if signed_in_as_teacher? && current_user.courses.any?
-#       This week's class:
-#       - if current_user.this_weeks_lesson
-#         %b= link_to current_user.this_weeks_lesson.display_name, faculty_lesson_path(current_user.next_lesson)
-#       - else
-#         %b No classes
-#   .right_info
-#     Signed in as
-#     %b= current_user.name
