= form_for [:admin, @lesson, @risk_assessment, @risk_assessment_apparatu] do |f|
  - if @risk_assessment_apparatu.errors.any?
    #error_explanation
      %h2= "#{pluralize(@risk_assessment_apparatu.errors.count, "error")} prohibited this risk_assessment_apparatu from being saved:"
      %ul
        - @risk_assessment_apparatu.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :practical
    = f.text_field :practical
  .actions
    = f.submit 'Save'
