%p#notice= notice

%p
  %b Name:
  = @risk_assessment_apparatu.name
%p
  %b Amount:
  = @risk_assessment_apparatu.amount
%p
  %b Practical:
  = @risk_assessment_apparatu.practical

= link_to 'Edit', edit_risk_assessment_apparatu_path(@risk_assessment_apparatu)
\|
= link_to 'Back', risk_assessment_apparatus_path
