#upper_form
  .title_field
    = f.text_field :name
  .right_form_buttons
    = f.submit
    = link_to 'Back', faculty_teachers_path, class: 'minor_action_button'
#main_form

  .tabs_container
    = radio_button_tag :tab, :account, true, checked: true
    = radio_button_tag :tab, :personal
    .tab_headings
      = label_tag :tab_account, 'Account'
    .form_tabs
      .form_tab.tab--account_tab

        .field
          = f.label :email
          = f.text_field :email
        - if @teacher.new_record? || current_user.id == @teacher.id
          .field
            = f.label :password
            = f.password_field :password
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation

        .field
          = f.label :gender
          = f.select :gender, User::Pupil.genders.map{|g, _| [g.humanize, g]}
        .field
          = f.label :working_days
          = f.select :working_days, User::Faculty.working_days.map{|g, _| [g.humanize, g]}

  #lower_form
    .right_form_buttons
      = f.submit
