.panel
  %table.index_table
    %thead
      %th.prime_column Name
      %th Classes
      %th Courses
      %th.action_column Edit
      %th.action_column Delete
    %tbody
      - teachers.each do |teacher|
        %tr
          %td= link_to teacher.name, edit_faculty_teacher_path(teacher)
          %td= raw teacher.klasses.collect{ |c| link_to(c.name, faculty_klass_path(c)) }.join(', ')
          %td= raw teacher.courses.collect{ |c| link_to(c.name, faculty_course_path(c)) }.join(', ')
          %td= link_to 'Edit', edit_faculty_teacher_path(teacher)
          %td= link_to_protected_delete 'Delete', faculty_teacher_path(teacher), 'Are you sure you want to delete this teacher?'
