#page_information
  .info_title
    %h3= pluralize(@school.faculty_members.count, 'Teacher')
  .action_links
    = link_to '+ Add Teacher', new_faculty_teacher_path
  .search_form
    = search_form_for @q, url: faculty_teachers_path do |f|
      = f.search_field :name_cont, placeholder: "Search by name..."
      .hidden
        = f.submit :search

= render 'faculties/teachers/table', teachers: @school.faculty_members