#page_information
  .info_title
    %h3= @teacher.name
  .action_links
    = link_to 'Edit', edit_faculty_teacher_path(@teacher)
    = link_to 'All Teachers', faculty_teachers_path, class: 'minor_action_link'

.panel
  %table.index_table
    %tr
      %th.horizontal_heading ID
      %td= @teacher.pupil_identifier
    %tr
      %th.horizontal_heading Name
      %td= @teacher.name
    %tr
      %th.horizontal_heading Working Days
      %td= @teacher.working_days
    %tr
      %th.horizontal_heading Gender
      %td= @teacher.gender&.titleize
    %tr
      %th.horizontal_heading Classes
      %td= @teacher.klasses.collect{|c| c.name}.join(', ')
    %tr
      %th.horizontal_heading Courses
      %td= @teacher.courses.collect{|c| c.name}.join(', ')

= render 'faculties/courses/table', courses: @teacher.courses
= render 'faculties/klasses/table', klasses: @teacher.klasses
= render 'faculties/pupils/table', pupils: @teacher.pupils
