#flash_container
  background: white
  overflow: hidden
  position: fixed
  bottom: 0
  width: 100%
  z-index: 100
  text-align: center

  .flash
    font-size: 1rem
    color: rgba(black, 0.7)
    transition: 0.2s
    position: relative
    font-weight: 600
    background: #DADADA

    @for $i from 0 through 19
      &:nth-child(#{$i})
        z-index: #{20 - $i}


    &:last-child
      margin-bottom: 0
  
    .flash_inner
      padding: 10px 30px

    &.flash_hidden
      margin-top: -50px
      margin-bottom: 0

    &.level-notice
      background: #228fd4
      color: white

    &.level-alert
      background: #CDDC39

    &.level-important
      background: #607D8B
      color: white

    &.level-error
      background: #F44336

    &.level-success
      background: #5DBD61
      color: white

    .flash_close
      float: right
      opacity: 0.5
      transition: 0.1s
      border-radius: 50%
      margin-top: -10px
      margin-right: -10px
      width: 40px
      height: 40px
      text-align: center
      line-height: 40px
      cursor: pointer

      &:hover
        opacity: 0.9
        background: rgba(white, 0.2)

