.pupil_site
  background-image: image_url("default_presentation_background.jpg")
  background-position: 50%
  background-size: cover
  background-attachment: fixed
  min-width: 1100px
#this_weeks_lesson
  padding: 50px 100px
  width: 100%
  box-sizing: border-box
  background-color: rgba(0,0,0,0.5)
  .pupil_mission_thumbnail_container
    float: left
    width: 50%
    height: 500px
    box-shadow: 0 0 5px black
    margin-right: 50px
    background-size: cover
  #mission_preview
    padding: 20px 30px 100px

#pupil_mission_list
  padding: 50px 30px
  text-align: center

.pupil_mission_thumbnail_container
  display: inline-block
  width: 400px
  padding: 25px 40px
  box-sizing: border-box

  .pupil_mission_thumbnail
    box-shadow: 0 0 5px black
    transition: 0.3s
    position: relative
    &:hover
      transform: scale(1.15)
      box-shadow: 0 0 20px 10px
    &.disabled
      -webkit-filter: grayscale(1)
      opacity: 0.7
      &:hover
        transform: scale(1)
        box-shadow: 0 0 5px black
    a
      display: block
    h4
      position: absolute
      top: 20px
      text-align: center
      color: white
      text-shadow: 0 0 2px black
      font-size: 1.4em

  img
    display: block

#lesson_show_panel_container
  position: relative
  z-index: 10000
  opacity: 1
  transition: 0.5s
  &.entrance
    opacity: 0
    #mission_cover
      opacity: 0
    #mission_preview
      h1, h2, h3, p
        opacity: 0
      .begin_mission
        opacity: 0
        margin-top: 80px
#lesson_show_panel
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(0,0,0,0.9)
  +flexbox

  .modal_exit
    color: white
    font-size: 2rem
    position: absolute
    top: 35px
    right: 35px

  #mission_cover
    +flex(3)
    background-size: cover
    background-position: 50%
    opacity: 1
    transition: 0.5s 0.5s

  .mission_preview_summary_container
    max-width: 600px
#mission_preview
  padding: 70px 30px
  +flex(2)
  color: white
  h1
    opacity: 1
    font-size: 2rem
    transition: 0.5s 0.75s

  h2
    opacity: 1
    font-size: 1.75rem
    transition: 0.5s 1s

  h3
    opacity: 1
    font-size: 1.5rem
    transition: 0.5s 1s

  p
    opacity: 1
    font-size: 1.375rem
    transition: 0.5s 1.25s

.begin_mission
  opacity: 1
  transition: 0.5s 1.5s
  background-color: #1291FF
  color: white
  font-weight: 600
  display: inline-block
  padding: 15px 30px
  font-size: 1.5rem
  margin-top: 50px


.quiz_slide
  text-align: center

  h1
    color: white
