#achievement_header
  background: rgba(216, 216, 216, 0.5)
  padding: 30px
  text-align: center
  span.achiement_heading
    color: black
    font-weight: bold
    cursor: pointer
    padding: 15px 30px
    font-size: 1.5em
    display: inline-block
    width: 200px
    background-color: white
    border-bottom: 3px solid $primary
    transition: 0.3s
    &:not(.selected)
      opacity: 0.2
      &:hover
        opacity: 0.5
    &.selected
      opacity: 1



#avatar_selector
  background: rgba(216, 216, 216, 0.27)
  padding: 40px
  text-align: center
  p
    color: white
    font-weight: bold
    text-shadow: 0 0 10px black
    font-size: 1.3em
    margin-top: 0
  .avatar_choice
    width: 225px
    margin: 25px
    padding: 25px
    display: inline-block
    vertical-align: top
    font-size: 1rem
    text-align: center
    background-color: #adadad
    position: relative

    &.achieved
      background-color: #d6de99
      border-bottom: 5px solid rgba(black, 0.6)
    &.new_avatar
      background-color: white !important
      box-shadow: 0 0 100px 25px white
      color: black
    &.unachieved
      .avatar_image
        opacity: 0.5
  .avatar_image
    border-radius: 50%
    overflow: hidden
    height: 150px
    width: 150px
    background-color: white
    margin: 0 auto 20px 
  .avatar_achiement
    color: white
    font-weight: bold

  .avatar_task
    color: #555
  .avatar_progress
    font-weight: bold
    margin: 15px 0 5px

  .avatar_progress_bar
    height: 5px
    background: black
    position: absolute
    bottom: 0
    left: 0
    max-width: 100%
