@import application/core
@import admin/*
a
  color: $primary_color

span#cke_30
  display: none

.padding
  padding: 10px
  & .sides
    padding: 0 10px
  & .bottom
    padding: 0
    padding-bottom: 10px

.right_border
  border-right: 1px solid rgba($divider_color, 0.15)
  padding-right: 3px

#images_container
  margin-top: 5px

.image_preview
  display: inline-block
  border: 1px solid rgba($divider_color, 0.15)
  margin-top: 2px
  padding: 10px

.image_container
  display: inline-block

.image_checkboxes
  display: inline-block
  padding: 10px
  vertical-align: top

#upload_bar
  border-top: 1px solid rgba($divider_color, 0.15)
  margin-top: 2px
  padding: 10px

.image_drag_container
  +flex
  +justify-content(space-between)
  display: block
  padding: 10px
  border: 1px solid rgba($divider_color, 0.15)
  + .image_drag_container
    margin-top: 10px

#invoice
  box-sizing: border-box
  max-width: 80rem

  .row
    display: flex
    .collapse
      flex: 1
      vertical-align: bottom

  .label
    font-weight: bold

  .value
    margin-bottom: 1rem

  #order_items

    .total_row
      background-color: rgba(170, 180, 200, 0.1)
      font-weight: bold
      height: inherit

    tbody tr
      height: 4.5rem


#nav_bar
  background-color: #e5e5e5
  height: 52px
  line-height: 52px
  padding: 0 30px
  position: relative
  color: rgba(0,0,0, 0.7)
  font-size: 14px
  overflow: hidden
  .bread_crumbs
    float: left
  a
    color: $primary_color
    text-decoration: none
    margin: 0 5px
    &.active
      font-weight: bold
  .fa
    font-size: 11px
    margin: 0 7px 0 5px
  .right_buttons
    float: right


.buttons_section
  display: inline-block
  border-right: 1px solid rgba(0,0,0,0.1)
  margin: 10px 0
  line-height: 32px
  padding: 0 12px
  &:last-child
    border-right: none

.user
  position: absolute
  top: 0
  right: 30px
  color: rgba(0,0,0,0.7)
  a
    color: $primary_color

#page
  +flex(1)
  min-height: calc(100vh - 126px)
  #page_inner
    +flexbox
  #main_panel
    +flex(1)
    margin: 0 auto
    padding: 30px
    box-sizing: border-box
    position: relative
    min-height: calc(100vh - 116px)
  #quick_edit_panel
    +flex(0)
    transition: 0.4s
    padding: 130px 0 30px
    background: white
    box-shadow: 0 0 5px rgba(0,0,0,0.3)
    min-height: calc(100vh - 176px)
    position: fixed
    right: 0
    top: 0
    height: 100%
    box-sizing: border-box
    transform: translateX(100%)
    &.active
      min-width: 300px
      padding: 130px 30px 30px
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
      border-left: 1px solid #ddd
      transform: translateX(0)
    .helper_text_panel
      display: none
    #main_form
      border: none
      #summary_form_panel
        padding: 0
        border: none

#active_panel_overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: black
  opacity: 0.5
  transition: 0.3s
  &.entrance
    opacity: 0

.panel
  margin-bottom: 17px
  background-color: #ffffff
  border: 1px solid rgba(170, 180, 200, 0.5)
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
  border-radius: 3px
  position: relative
  transition: padding 0.3s
  padding-top: 0

#page_information
  min-height: 60px
  h1
    margin: 0
    font-size: 1.4rem
    color: $secondary_text_color
    font-weight: 200
    display: inline-block
    vertical-align: middle
    margin-right: 20px
  .info_button_container
    display: inline-block
  .explainer
    clear: both
    color: #8a8a8a
    font-style: italic
    max-width: 700px

div#second_sidebar
  background: #efefef
  padding: 20px
  line-height: 30px
  a
    display: block
  li
    list-style: none
    a
      display: inline-block
  ul
    padding: 0
