/*
 *= require jquery-ui
 */
@import normalize
@import mixins/**/*
@import variables
@import forms
@import styles
@import quiz
@import simple_calendar
@import notifications
@import pupil
@import achievements

html.scrolled
  #intro_text, #header
    position: absolute

.admin_section
  #missions_table
    td
      padding: 0 20px
    img
      width: 100px

#samples_page
  padding: 50px
  text-align: center
  a
    display: block
    margin: 20px 0 0 0
  span
    color: grey
    font-size: 0.875rem

  .resource_sample
    margin-top: -4px


#pupil_application_bar, #sub_bar
  background-color: $blue
  font-size: 1.375rem
  color: white
  font-weight: 600
  font-family: "Proxima Nova Soft", "proxima-nova-soft", sans-serif
  width: 100%
  padding: 0 40px
  box-sizing: border-box

  a
    display: inline-block
    padding: 10px
    color: inherit
  .right_links
    float: right

  .image_link
    display: inline-block
    width: 130px
    vertical-align: bottom
    padding: 3px 13px
    a
      padding: 0

#pupil_application_bar
  position: relative
  box-shadow: 0 1px 10px rgba(0,0,0,0.3)
#sub_bar
  background-color: white
  height: 300px
  a
    color: $blue
  .links
    float: left
  .user_avatar
    float: right
    color: $blue
    text-align: center
    padding: 0 40px
    img
      width: 80px
      margin: 0 auto
      display: block

  .graph
    max-width: 1000px
    width: 60%
    height: 300px
    float: left

div#widget 
  float: left
  margin-right: 20px 
  @media screen and (max-width: 950px)
    display: none

.hidden
  display: none !important


.safe_delete_options
  text-align: center
  .safe_delete_cancel
    display: block

  .safe_delete_confirm
    display: block
    padding: 0px 5px
    background: #F44336
    color: white
    border-radius: 5px
