@import font-awesome-sprockets
@import font-awesome

h1
  font-size: 2em
  font-family: "Proxima Nova Soft", "proxima-nova-soft", sans-serif

h2
  font-size: 1.75em
  font-weight: 200

h3
  font-size: 1.375em
  font-weight: 400

body
  font: 1em/1.7em "Proxima Nova", "proxima-nova", sans-serif
  color: rgba(0, 0, 0, 0.83)
  -webkit-font-smoothing: antialiased

img
  max-width: 100%

a
  color: $blue
  text-decoration: none
  &:hover
    text-decoration: underline

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.hidden
  display: none

#page_information
  position: relative
  &:after
    content: ""
    display: block
    clear: both
  h3
    color: rgba(0,0,0,0.75)
    margin: 0
    font-weight: 400
    float: left
    padding-top: 12px
    margin-right: 20px

  .info_title
    float: left



  .action_links
    float: left
    height: 55px
    padding: 10px 0
    box-sizing: border-box
    .primary_link, a
      display: inline-block
      height: 35px
      line-height: 35px
      font-size: 0.9rem
      font-weight: 600
      color: white
      padding: 0 12px
      background-color: $primary
      border-radius: 4px
      vertical-align: middle
      &.minor_action_link
        background-color: white
        border: 3px solid $primary
        color: $primary
        line-height: 30px
        box-sizing: border-box
    
    form
      display: inline

  .search_form
    width: 450px
    float: right

.panel
  position: relative
  margin-bottom: 17px
  background-color: #ffffff
  border: 1px solid rgba(170, 180, 200, 0.5)
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
  border-radius: 3px

.index_table
  width: 100%
  thead
    background-color: rgba(170, 180, 200, 0.1)
    font-weight: bold
    letter-spacing: 0.05em
    text-transform: uppercase
    font-size: 11px
  th
    background: #f7f8f9
    text-align: left
    border-bottom: 1px solid #dcdee3
    border-right: 1px solid #dcdee3
    font-size: 11px
    text-transform: uppercase
    font-weight: 500
    color: #8c96aa
    letter-spacing: 0.05em
    padding: 0 14px
    border-bottom: 0 !important
    border-top: 0 !important
    line-height: 20px !important
    max-height: 40px
    height: 40px
    &.prime_column
      width: 40%
    &.action_column
      width: 1px
    &.no_wrap
      white-space: nowrap
    &:last-of-type
      border-right: none
      &.horizontal_heading
        border-right: 1px solid #dcdee3
        width: 1px
    &.extra_heading
      border: 1px solid #dcdee3
  tbody
    tr
      height: 50px
    td
      padding: 14px
      vertical-align: top
      border-top: 1px solid rgba(170, 180, 200, 0.2)
      box-sizing: border-box
      font-size: 13px
      color: #3d4d5f
  &.compact_table td
    line-height: 1.2rem
    padding: 14px
    p
      margin-top: 0
  &.fixed_layout
    table-layout: fixed
  .internal_heading_row
    border-top: 1px solid #ddd

#lesson_preview_panel
  background-size: cover
  background-position: 50%
  float: right
  position: absolute
  top: 0
  width: 100%
  right: 0
  height: 100%
  background-attachment: fixed
  opacity: 0.2

#dashboard_lesson_preview
  background-size: cover
  background-position: 50%
  .lesson_preview_inner
    padding: 50px
    background-color: rgba(black, 0.3)
    h3
      color: white
      font-weight: 100
      margin: 0
    h2
      font-weight: 600
      color: white
      margin-top: 0
    p
      color: white
      font-size: 1.25rem
    a
      display: inline-block
      height: 35px
      line-height: 35px
      font-size: 0.9rem
      font-weight: 600
      color: white
      padding: 0 12px
      background-color: $primary
      border-radius: 4px
      vertical-align: middle
