#header
  position: absolute
  width: 100%
  top: 60px
  padding: 0 30px
  box-sizing: border-box
  border: none
  z-index: 100

#header_inner
  max-width: 1400px
  margin: 0 auto
  position: relative

#logo
  position: absolute
  top: 0
  left: 0

#coming_soon_message
  position: absolute
  top: 0
  right: 0

#home_intro_panel
  height: 100vh
  background-image: image_url('background2.jpg')
  z-index: 50
  background-size: cover
  background-position: 50%
  background-attachment: absolute
  @media screen and (max-width: 600px)
    height: auto


#intro_text
  text-align: center
  position: absolute
  width: 100%
  padding: calc(100px + 5%) 40px 0
  box-sizing: border-box
  left: 0
  @media screen and (max-width: 600px)
    padding: 80px 0
    position: relative
    text-align: left

  h1
    font-family: "Proxima Nova", "proxima-nova", sans-serif
    font-size: 2.5rem
    line-height: 3rem
  h2
    font-size: 1.5rem
    line-height: 2rem



#intro_text_inner
  max-width: 950px
  margin: 0 auto
#mission_panel_image
  float: right
  width: 54%
#intro_home_contact_form
  max-width: 700px
  margin: 0 auto
  font-size: 0
  input
    font-size: 1rem
    display: inline-block
  input[type='text']
    width: 77%
    border: 1px solid #ddd
    border-bottom: 2px solid #BBBBBB
    margin-right: 3%
  input[type='submit']
    width: 20%


.home_panel
  padding: 60px 30px
  box-sizing: border-box
  .home_panel_inner
    max-width: 1100px
    margin: 0 auto
    position: relative
    z-index: 100
  .home_panel_text
    max-width: 500px
    width: 40%
    h2
      margin: 4px 0 0
      line-height: 2.25rem
      font-weight: 600
    p
      margin-top: 10px

#home_mission_panel
  background-color: #488BF1
  color: white
  position: relative
  z-index: 100
#home_research
  background-color: #488BF1
  color: white
#home_product_panel
  background-color: #f5f5f5
  h2
    text-align: center
    font-weight: 600
    color: #666666
#home_product_points
  max-width: 1200px
  margin: 0 auto
  padding: 0 30px
  font-size: 0
.home_product_point
  width: calc(100% / 3)
  font-size: 1rem
  vertical-align: top
  display: inline-block
  padding: 0 30px
  box-sizing: border-box
  text-align: center
p.product_panel_quote
  font-size: 1.125rem
  max-width: 600px
  color: $blue
  text-align: center
  font-weight: 600
  margin: 0 auto
.audience_panel_intro
  text-align: center
  max-width: 800px
  margin: 0 auto
  clear: both
.home_graph_image
  width: 50%
  float: right
#home_audience_highlights
  background-color: white
  position: relative
  z-index: 100
#home_audience_highlights_inner
  font-size: 0

.home_audience_highlight
  display: inline-block
  font-size: 0.875rem
  padding: 0 20px
  width: calc(100% / 3)
  box-sizing: border-box
  vertical-align: top
  h3
    font-weight: 600
    text-transform: uppercase
  p
    margin: 10px 0
    color: $dark_blue
    line-height: 1.5rem

div#study_features_panel
  position: relative
  overflow: hidden
  background-size: cover
  background-position: 50%
  padding: 200px

  h2.heading
    color: white
    font-weight: bold
    font-size: 2rem
    text-align: center
    margin-bottom: 40px
  img
    width: 20%
    display: inline-block
    vertical-align: top
    padding: 10px
    box-sizing: border-box
  .study_f_txt
    display: inline-block
    width: 80%
    vertical-align: top
    font-size: 0.875rem
    padding-left: 10px
    box-sizing: border-box
    h2
      margin-bottom: 0

.study_feature
  max-width: 700px
  font-size: 0
  margin: 0 auto 20px
  background: rgba(255, 255, 255, 0.76)
div#contact_summary_panel
  background: #60C0D6
.contact_pnl
  font-size: 0
#home_contact_form
  width: 40%
  display: inline-block
  vertical-align: top
  background-color: #E8E8E8
  padding: 20px
  background-color: rgba(255, 255, 255, 0.7)
  padding: 30px
  box-sizing: border-box
  font-size: 1rem
#home_video_something
  font-size: 1rem
  display: inline-block
  vertical-align: top
  width: 60%
  padding: 0 0 0 30px
  box-sizing: border-box
  .home_panel_text
    width: 100%
    margin-bottom: 40px
    color: white
    h2
      margin-top: 0

.copy
  font-size: 0.875rem
  text-align: center

#message
  position: absolute
  top: 0
  text-align: center
  width: 100%
  color: #49ABFF
  top: 70px
  font-size: 1.25rem

.video_panel
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  z-index: -100


video
  position: absolute
  top: 50%
  left: 50%
  width: auto
  height: auto
  min-width: 100%
  min-height: 100%
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)


@media (max-width: 767px)
  .video_panel
    background: url('vid_frame.jpg') center center / cover no-repeat


  video
    display: none

.footer
  background-color: white
  position: relative
  z-index: 100

@media screen and (max-width: 750px)
  .home_graph_image, .home_panel_text, .home_audience_highlight, .home_product_point, div#home_contact_form, div#home_video_something
    width: 100%!important
  div#home_video_something
    padding-top: 50px
  iframe
    display: none
  #header
    top: 30px
    padding: 0 20px
  #logo
    top: 10px


.hero_action_link
  display: inline-block
  background-color: #49ABFF
  width: 235px
  height: 60px
  line-height: 60px
  color: white
  font-weight: 600
  font-size: 1.125rem