#teacher_lesson_panels
  min-height: 300px
#summary_panel
  +flexbox
  min-height: 300px
  height: 100%
  .lesson_panel_hero
    +flex(3)
    background-size: cover
    background-position: 50%
    padding: 30px
    box-sizing: border-box
    h3
      font-size: 2rem
      color: white
      font-weight: 800
      line-height: 2.5rem
      font-family: "Proxima Nova Soft"
  .lesson_panel_actions
    +flex(1)

.teacher_start_lesson_link
  display: block
  margin: 0 auto
  background-color: $blue
  color: white
  width: 175px
  height: 45px
  line-height: 45px
  text-align: center
  border-radius: 3px