#slides_navigation
  background-color: $blue
  color: white
  font-size: 2rem
  font-weight: 800
  text-align: center
  line-height: 60px
  height: 60px
  > *
    display: inline-block
    padding: 0 20px
  a
    color: inherit
    &.return_to_dashboard
      position: absolute
      right: 0

#slide_content_wrapper
  +flexbox
  height: calc(100vh - 60px)
  background: image_url('default_presentation_background.jpg')
  background-size: cover
  background-position: 50%
  background-repeat: no-repeat

#year_summary_sidebar
  +flex(0)
  min-width: 150px
  @media screen and (max-width: 1170px)
    min-width: 125px
  height: 100%
  background: image_url('default_presentation_background.jpg')
  border-right: 4px solid $blue
  div
    height: 100%
    background-size: contain
    background-position: 50%
    background-repeat: no-repeat


#main_wrapper
  +flex(1)
  +flexbox
  +flex-direction(column)
  height: 100%
  overflow: hidden
  transition: opacity 0.25s
  opacity: 1
  background-color: #f5f5f5
  &.trans
    opacity: 0
  .pre_lesson
    height: 100%
    background-image: image_url('default_presentation_background.jpg')
    background-size: cover
    background-position: 50%

#main_slide_panel
  +flex(1)
  background-size: cover
  background-position: 50%
  height: 100%
  background-color: black


#upper_text, #lower_text
  font-size: 2rem
  font-weight: bold
  color: #7F7878
  line-height: 2.4rem
  padding: 20px
  min-height: 116px
  box-sizing: border-box
  @media screen and (max-width: 1450px)
    font-size: 1.75rem
  @media screen and (max-width: 1300px)
    font-size: 1.5rem
  @media screen and (max-width: 1150px)
    font-size: 1.375rem
  p
    margin: 0
  .rw
    text-decoration: underline

#upper_text
  padding: 20px 20px 20px 20px
  &.with_narration
    padding-right: 170px
#lower_text:empty
  display: none
#second_sidebar
  +flex(0)
  overflow-y: scroll
  min-width: 180px
  @media screen and (max-width: 1170px)
    min-width: 125px
  border-left: 4px solid $blue
  &.with_narration
    min-width: 300px
  #narration_video
    background: black

.quiz_slide, .count_video, .course_intro_slide, .rocket_word_slide
  background: image_url('default_presentation_background.jpg')
  background-position: 50%
  background-size: cover
  height: 100%

.intro_slide
  +flexbox
  height: calc(100vh - 176px)
  .intro_slide_content
    +flex(2)
    padding: 10px 30px
    box-sizing: border-box
    color: white
    font-size: 2.25rem
    line-height: 3rem
    text-shadow: 0 0 30px black
    font-weight: 600
    @media screen and (max-width: 1350px)
      font-size: 1.75rem
      line-height: 2rem
  .intro_slide_actions
    +flex(1)
    +flexbox
    +flex-direction(column)
.column_spacer
  +flex(1)
.choose_timer
  +flex(0)
  min-height: 100px
  padding: 40px 20px
  text-align: center
  a
    background-color: $blue
    color: white
    display: inline-block
    padding: 15px 10px
    font-size: 1.5rem
    font-weight: 600
    border-radius: 5px
.mascot
  +flex(0)
  min-height: 350px
  max-width: 290px
  text-align: center
  margin: 0 auto

.course_intro_slide
  +flexbox
  .course_intro_text
    +flex(1)
    padding: 30px
    box-sizing: border-box
    color: white
    font-size: 2rem
    line-height: 2.5rem
    text-shadow: 0 0 30px black
    font-weight: 600
    @media screen and (max-width: 1350px)
      font-size: 1.75rem
      line-height: 2rem

  .course_intro_image
    +flex(2)

.count_video
  video
    display: block
    margin: 0 auto
    height: 100%

.slide_video
  background-color: black
  width: 100%
  height: calc(100vh - 296px)
  video
    width: 100%
    max-height: 100%

.rocket_word_slide
  padding: 20px
  table
    width: 100%
    background: white
    border: 4px solid white
    color: #666666
    border-collapse: separate
    border-spacing: 4px
    thead
      background-color: #bb0e0e
      color: white
    tr
      &.right
        background-color: #c9e4c9
      &.wrong
        background-color: #f3dbdb
    th, td.rw_text
      padding: 10px
    td.rw_text
      box-shadow: inset 0px 0px 50px rgba(0,0,0,0.3)
    td.rw_image
      width: 120px
      @media screen and (max-height: 900px)
        width: 105px
      @media screen and (max-height: 750px)
        width: 90px
    .rw_word
      font-size: 2rem
      font-weight: bold
      text-align: center
    .rw_description
      font-size: 1.5rem
      @media screen and (max-width: 1350px)
        font-size: 1.25rem
      @media screen and (max-height: 900px)
        font-size: 1.25rem
      b
        color: black
      .rw
        text-decoration: underline

  img
    display: block
    height: 120px
    @media screen and (max-height: 900px)
      height: 105px
    @media screen and (max-height: 750px)
      height: 90px
.quiz_slide
  padding: 30px
  table
    width: 100%
    margin: 0 auto
    font-size: 3rem
    color: white
    border-collapse: separate
    border-spacing: 4px
    font-weight: bold
    max-width: 700px
    @media screen and (max-height: 840px)
      font-size: 2rem
  img
    display: block
    height: 120px
    @media screen and (max-height: 840px)
      height: 105px
    @media screen and (max-height: 700px)
      height: 90px
  td.rw_image
    width: 120px

#navigation_thumbs
  &.no_vid
    height: calc(100vh - 60px)
  &.with_vid
    height: calc(100vh - 229px)
  overflow: auto


.slide_thumb
  display: block
  width: 100px
  height: 100px
  border-radius: 5px
  text-align: center
  font-size: 3rem
  background-color: $blue
  color: white
  font-weight: bold
  line-height: 100px
  box-shadow: 0 0 10px rgba(0,0,0,0.6)
  margin: 20px auto
  overflow: hidden
  position: relative
  &.current_slide
    border: 5px solid white
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  span
    position: relative
    z-index: 1
    text-shadow: 0 0 10px black

#narration_video
  position: absolute
  width: 320px
  height: 180px
  top: 20px
  right: 20px
  background: black
  box-shadow: 0 0 5px
  z-index: 10
  video
    max-width: 100%

a.narration_toggle
  position: absolute
  left: 10px
