#welcome_container
  font-family: "Proxima Nova Soft", "proxima-nova-soft", sans-serif
  position: relative
  padding: 30px 0

  &:after
    content: ''
    width: 100%
    height: 100%
    background-color: rgba(black, 0.5)
    position: absolute
    top: 0
    left: 0


#welcome_container
  padding: 40px
  height: 300px
#welcome_container_inner
  background: #f7f7f7
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.58)
  z-index: 2
  position: relative
  max-width: 600px
  border-radius: 5px
  float: right
  width: 40%
  min-height: 300px

.welcome_graph
  width: 55%
  overflow: hidden
  border-radius: 5px
  height: 300px
  position: relative
  z-index: 10
  background: white
  padding: 20px
  box-sizing: border-box


#school_info
  border-bottom: 1px solid rgba(0, 0, 0, 0.4)
  text-align: center
  img
    height: 40px
    vertical-align: middle
    margin-right: 20px
  h2
    display: inline-block
    vertical-align: middle
    font-size: 1.1rem

#profile
  font-size: 0
  max-width: 1100px
  margin: 0 auto
  padding: 30px
#profile_picture
  background-color: #CECECE
  border-radius: 50%
  height: 100px
  width: 100px
  display: inline-block
  overflow: hidden
  font-size: 1rem
  vertical-align: middle
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35)
  width: 20%
  vertical-align: top

#profile_content
  display: inline-block
  vertical-align: top
  font-size: 2rem
  width: 80%
  padding-left: 30px
  box-sizing: border-box
  h4
    margin: 0 0 10px
    font-size: 1.4rem
#profile_trophys
  margin: 15px 0
  .trophy
    display: inline-block
    width: 30px
#profile_progress
  .progress_bar_container
    height: 32px
    width: 100%
    border-radius: 10px
    overflow: hidden
    background: #ccc
    margin: 15px 0
    .progress_bar
      background: $primary
      height: 50%
      width: 0
      transition: 0.7s 0.5s
    .lesson_progress_bar
      background-color: green
      border-radius: 8px 8px 8px 0
    .task_progress_bar
      background-color: #FF9800
      border-radius: 0 8px 8px 8px

  .milestones
    font-size: 1rem
    span
      color: grey

.pupil_table
  background: white
  width: 800px
  margin: 50px auto
  font-size: 1.4rem
  font-family: "Proxima Nova Soft", "proxima-nova-soft", sans-serif
  padding: 20px

  thead
    background: $primary

    &:nth-child(even)
      background: #efefef
  th
    padding: 15px 20px
    text-align: left
    
  td
    padding: 10px 20px
    
    &:first-child
      background: #b6ddff
  tbody tr:hover
    background: #e6e6e6

  tr.right td
    background: #d6f1d6
  tr.wrong td
    background: #f1d6d6

#pupil_content
  background: white
  padding: 20px

#pupil_content_inner
  max-width: 900px
  margin: 0 auto

  a
    color: black
    border: 3px solid black
    border-radius: 50%
    display: inline-block
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    &:hover
      text-decoration: none

