.begin_quiz_link
  background-color: #49ABFF
  color: white
  padding: 20px
  display: block
  text-align: center
  width: 300px
  margin: 20px auto
  font-size: 2rem

.presentation #main_slide_panel.active_quiz
  background: #e5e5e5

  .quiz_table
    padding: 10px 40px
    max-width: 800px
    margin: 0 auto

.answer
  font-size: 1.5rem
  font-weight: 600
  background: white
  height: 100px
  padding: 20px 0 10px 10px
  box-sizing: border-box
  box-shadow: 0 0 5px rgba(0,0,0,0.4)
  a
    color: rgba(0, 0, 0, 0.75)


.answer_image
  padding: 10px 0

  width: 100px
  height: 100px
  img
    box-shadow: 0 0 5px rgba(0,0,0,0.4)

.quiz_progress
  +flexbox
  +flex-direction(column)
  .quiz_progress_item
    +flex(1)
    padding: 50px 30px
    text-align: center
    color: white
    font-weight: 800
    font-size: 1.25rem
    opacity: 0.5
    background-color: #0089FF
    &.active, &.right, &.wrong
      opacity: 1
    &.right
      background-color: #63d164
    &.wrong
      background-color: #ff524a

