#header
  padding: 20px
  @media screen and (min-width: 850px)
    padding: 20px 50px
  border-bottom: 1px solid #ddd
  height: 50px

  img
    display: block

#header_inner
  position: relative

#logo
  max-width: 250px
  position: absolute
  top: 10px
  @media screen and (min-width: 500px)
    max-width: 300px
    top: 5px

#main_menu
  float: right
  line-height: 40px
  & > a
    display: inline-block
    margin: 0 10px
    color: #999
    font-weight: 600
    &.menu_activator
      display: none
    &.menu_action_button, &.menu_activator
      color: white
      padding: 5px 20px
      background-color: $blue
      border-radius: 3px
    @media screen and (max-width: 1025px)
      display: none
      &.menu_activator
        display: block
        font-size: 1.25rem
        padding: 5px 20px
        span
          display: none
          @media screen and (min-width: 430px)
            display: inline-block
        i
          @media screen and (min-width: 430px)
            margin-left: 5px

#side_menu
  background-color: $blue
  position: fixed
  right: 0
  top: 0
  width: 250px
  height: 100%
  transform: translateX(250px)
  transition: 0.3s
  z-index: 100
  padding-top: 100px
  a
    display: block
    color: white
    text-transform: uppercase
    text-align: center
    line-height: 60px
    font-weight: 600px
  .menu_activation &
    transform: translateX(0)

#page_wrapper
  position: relative
  right: 0
  transition: right 0.3s
  .menu_activation &
    right: 250px
#choose_login_prompt
  color: rgba(0,0,0,0.6)
  font-size: 3rem
  padding: 10% 40px
  text-align: center
  font-weight: 600
  font-family: "proxima-nova-soft", sans-serif
  a
    text-decoration: underline

.action_button
  color: white
  padding: 5px 20px
  background-color: $blue
  border-radius: 3px
  font-weight: 600
  width: 200px
  margin: 0 auto
  display: block
  text-align: center
  height: 60px
  font-size: 1.125rem
  line-height: 60px
  margin-bottom: 50px