@import general_rules
@import header
@import teacher_sections
@import regular_sections
@import pupil_sections
.presentation
  font-family: "Proxima Nova Soft", "proxima-nova-soft", sans-serif
  min-width: 1000px
  @import presentation
.anonymous_site.home
  @import homepage

#footer
  text-align: center
  padding: 60px 20px
  background-color: #eaeaea
#app_page_wrapper
  +flexbox
  min-height: calc(100vh - 80px)

#content_inner
  padding: 30px

div#flash_messages
  width: 100%
  text-align: center
  > div
    display: inline-block
    padding: 4px 12px
    border: 1px solid
    max-width: 800px
    opacity: 0.8
    border-radius: 3px
    margin: 40px auto 0
    &.error
      color: red

#temp_banner
  background: $blue
  color: white
  padding: 16px 0
  text-align: center
  margin-bottom: 30px
#temp_page
  max-width: 800px
  margin: 0 auto
  padding: 0 24px
  line-height: 1.9rem
  padding-bottom: 100
  &.product_page
    max-width: 1000px
  .blog_item
    margin-top: 20px
    margin-bottom: 60px
    padding-bottom: 30px
    border-bottom: 1px solid #ddd

#product_intro
  h2
    font-weight: 600
    font-size: 1.875rem
  padding-top: 5px
  font-weight: 600
  font-size: 1.25rem
  text-align: center
  a
    text-decoration: underline

#product_table
  padding-top: 5px
.product_table_section
  margin: 40px 0
  h3
    font-weight: 600
    color: #666
  +flexbox
  .product_table_image
    +flex(2)
  .product_table_text
    margin: 0 40px
    +flex(3)

.thanks_t
  padding: 1px
  margin: 50px 0 200px