#page
  +flex(1)

#app_page
  +flex(1)

#notification_panel
  +flex(0 0 260px)
  background-color: #eaeaea
  padding: 30px
  box-sizing: border-box

.notification_item
  font-size: 0.875em
  line-height: 1.5em
  color: #7F7878
  margin-bottom: 25px

#standard_panels_wrapper
  +flexbox
  min-height: calc(100vh - 65px)
#side_panel
  +flex(0 0 100px)
  padding: 15px
  box-sizing: border-box
  background-color: #e5e5e5
#main_panel
  +flex(1)
  padding: 30px
  box-sizing: border-box
  position: relative
#split_summary_panels
  width: 100%
  +flexbox
  #panel_left, #panel_right
    +flex(1)
  #panel_left
    margin-right: 10px
  #panel_right
    margin-left: 10px

#school_logo
  margin-bottom: 25px

.school_sections #calendar
  thead
    background-color: white
    color: black
  td
    padding: 0
#course_yeargroup_pick_container
  font-size: 0

.course_yeargroup_picker
  background: #EFEFEF
  display: inline-block
  width: 48%
  font-size: 0.875rem
  margin: 1%
  vertical-align: top
  padding: 10px 20px
  box-sizing: border-box
  border-radius: 3px
  border-bottom: 2px solid rgba(0, 0, 0, 0.2)
  cursor: pointer
  ul
    padding-left: 16px


#new_course
  max-width: 600px
  margin: 0 auto

.course_unit
  background: #FBFBFB
  padding: 10px 20px 10px 30px
  box-sizing: border-box
  border-radius: 3px
  border: 1px solid #ddd
  border-bottom: 2px solid rgba(0,0,0,0.2)
  margin-bottom: 10px
  
  input[type=checkbox]
    display: none
    &:checked + label
      opacity: 0.3
      margin-left: -10px
      //add padding so width doesnt change causeing line wraps to change
      padding-right: 10px

  label
    transition: 0.3s
    font-size: 0.9em
    text-transform: none
    display: block
    font-weight: normal
    color: rgba(black, 0.87)
    text-transform: none
    line-height: 1.3rem

#sortable1 li, #sortable2 li
  margin: 0 5px 5px 5px
  padding: 5px
  font-size: 1.2em
  width: 120px

h2.with_tabs
  margin-bottom: 10px

.panel_switcher_tabs
  a
    color: #7F7878
    margin: 0 10px 0 0
    &.active
      color: black
  font-size: 0.875rem

.panel_switcher
  .panel
    background-color: #E8E8E8
  .panel_inner
    padding: 30px

@import lesson_panels

.table_mission
  opacity: 0.5

  &.active_table_mission
    font-weight: bold

  &.available_table_mission
    opacity: 1

div#message_area
  margin-bottom: 15px
  .message
    padding: 20px
  .message_credits_available
    background: #26BADC
    color: white
    a
      color: white
      font-weight: bold

#form_explainer
  background: #B3D8E0
  padding: 30px
  font-size: 0.875rem
  margin-bottom: 20px

  h1
    margin: 0

  p
    font-style: italic
    color: rgba(0,0,0,0.7)
    margin-bottom: 0

fieldset
  border: 1px solid #DCDCDC
  border-radius: 4px

legend
  color: #49ABFF
  padding: 10px
  font-size: 0.875rem
  text-transform: uppercase

#user_status_bar
  padding: 0 30px
  height: 40px
  line-height: 40px
  overflow: hidden
  background: #536884
  color: white
  font-size: 0.9rem
  a
    color: rgba(255,255,255,0.9)
  .left_info
    float: left
  .right_info
    text-align: right
    float: right