#user_bar
  background: $blue
  color: white
  height: 65px
  line-height: 65px
  +flexbox
  a
    color: inherit
    text-decoration: none
    font-weight: 600
  i:before
    display: block
    height: 60px
    line-height: 60px

#user_bar_logo
  +flex(0 0 280px)
  padding: 0 20px 0 30px
  box-sizing: border-box
  img
    display: inline-block
    vertical-align: middle

#user_bar_menu
  +flex(1)
  padding: 0 20px
  box-sizing: border-box
  a
    margin-right: 20px

#user_site_search
  +flex(0 0 220px)
  min-width: 220px
  input[type='text']
    background-color: $blue
    border: none
    border-bottom: 2px solid white
    width: 180px
    border-radius: 0
#user_quick_links
  background-color: $dark_blue
  padding: 0 20px
  box-sizing: border-box
  +flex(0 0 260px)
  text-align: center
  i
    font-size: 1.125em
  a
    display: inline-block
    margin: 0 12px
  .logout_link
    border: 2px solid white
    display: inline-block
    padding: 5px 20px
    margin: 12px 15px 0
    border-radius: 25px
    height: 25px
    vertical-align: top
    line-height: 25px
    &:hover
      color: $blue
      background-color: white