= form_for [:admin, @lesson, @word] do |f|

  .field
    = f.label :word
    = f.text_field :word

  = field_set_tag 'Image' do
    = f.file_field :image
    = image_tag @word.image.square unless @word.new_record?

  .field
    = f.text_area :description, class: 'wysiwyg'

  .actions
    = f.submit :submit
