#page_information
  .info_title
    %h3= pluralize(@rocket_words.count, 'Rocket Words')
  .action_links
    - unless @rocket_words.count > 4
      = link_to '+ Rocket Word', new_admin_lesson_template_rocket_word_path(@lesson), class: 'primary_link'

.panel
  %table.index_table
    %thead
      %tr
        %th
        %th Word
        %th Meaning
        %th.action_column
        %th.action_column
    - @rocket_words.each do |word|
      %tr
        %td.mission_thumb= image_tag word.image.square
        %td= word.word
        %td= word.description
        %td= link_to 'edit', edit_admin_lesson_template_rocket_word_path(@lesson, word)
        %td= link_to 'delete', admin_lesson_template_rocket_word_path(@lesson, word), method: :delete, data: {confirm: "Sure?"}