<div id="graph"></div>
<script>

  $(function () {
    $('#graph').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Classes at target'
      },
      subtitle: {
        text: 'Week beginning 14th March'
      },
      xAxis: {
        categories: [
          "Year One Science",
          "Year Two Science",
          "Custom Science",
          "Maths Classes",
          "Big time science",
          "Only the Plants",
          "Year Four Scince",
          "Year Three Science"
        ],
        crosshair: true
      },
      yAxis: {
        min: 0,
        max: 100,
        title: {
          text: 'Percentage'
        }
      },

      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: 'Classes',
        data: [96, 90, 95, 84, 81, 87, 88, 88]

      }]
    });
  });

</script>

0
