<div id="graph"></div>
<script>

  <%- @one = @klass.pupils.collect{|d| rand(1..100)} %>
  <%- @two = @klass.pupils.collect{|d| rand(1..100)} %>
  <%- @three = @klass.pupils.collect{|d| rand(1..100)} %>


  $(function () {
    $('#graph').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: 'Classes at target'
      },
      subtitle: {
        text: 'Week beginning 14th March'
      },
      xAxis: {
        categories: ["Jack Pupil",
          "Mrs. Ryan O'Connell",
          "Ms. Efren Gaylord",
          "Jevon Schultz",
          "Deron Daniel",
          "Marques Walter",
          "Mr. Haleigh Monahan",
          "Adonis Kunze",
          "Tate Waelchi V",
          "Frankie Leffler Jr.",
          "Pink Treutel",
          "Enos Morissette",
          "Leon Shanahan PhD",
          "Gillian Gulgowski",
          "Stacey Rolfson",
          "Lucious Corwin",
          "Ms. Rosie Klocko",
          "Bennie Bednar",
          "Shyanne Gerlach",
          "Dusty Hand",
          "Korbin Brown",
          "Krista Crist",
          "Mrs. Cecilia Zemlak",
          "Marlene Russel",
          "Jose Schmidt",
          "Irwin Nikolaus MD",
          "Danny Lockman",
          "Adela Leuschke",
          "Rosalee Rogahn",
          "Donnell Nikolaus"],
        crosshair: true
      },
      yAxis: {
        min: 0,
        max: 100,
        title: {
          text: 'Percentage'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
      series: [{
        name: 'Quiz Score',
        data: <%= @one %>

      },{
        name: 'Class Attainment',
        data: <%= @two %>

      },{
        name: 'Effort!',
        data: <%= @three %>

      },

      ]
    });
  });

</script>
