
.panel
  %table.index_table
    %tr
      %th.horizontal_heading Year Group:
      %td= @lesson.study_year.name
    %tr
      %th.horizontal_heading Unit:
      %td= @lesson.unit&.name
    %tr
      %th.horizontal_heading Mission Number:
      %td= @lesson.lesson_number
    %tr
      %th.horizontal_heading Mission Objective:
      %td= @lesson.display_name

.panel
  %table.index_table
    %tr
      %th Mission Knowledge and Expertise to Master:
      %td= "#{@lesson.display_name}. Key Words: #{@lesson.rocket_words.collect{|w| w.word}.join(', ')}"

.panel
  %table.index_table.compact_table.fixed_layout
    %tr
      %th Vocabulary to Master:
      %th Key Resources:
      %th Sentence Structures:
    %tr
      %td= @lesson.rocket_words.collect{|w| w.word}.join(', ')
      %td= simple_format @lesson.lesson_plan&.resources
      %td= simple_format @lesson.lesson_plan&.sentence_structure
    %tr.internal_heading_row
      %th Activities for Learning:
      %th Key Questions:
      %th Assessment:
    %tr
      %td= simple_format @lesson.lesson_plan&.activities
      %td
        = simple_format @lesson.quiz.formative_questions.collect{|q| q.question}.join('<br>').html_safe rescue nil
      %td= simple_format @lesson.lesson_plan&.assessment
    %tr
      %td{colspan: 3}= simple_format @lesson.lesson_plan&.learning_outcomes

.panel
  %table.index_table.compact_table.fixed_layout
    %tr
      %th
        Mission Overview:
        %br
        Rocket Words and Meanings Facts Test:
      %th Content:
    %tr
      %td
        %p Issue Rocket words sheets to those students without access to computer at home. Homework is to complete a minimum of 5 minutes daily test practice.
      %td
        %p Students enter the classroom in silence.
        %ol
          %li Key words and meanings to be reviewed on board.
          %li Results from week’s performance can be shown on board.
          %li A starter test can be sat. Using tablets is the easiest option. (Paper tests are available.)
        %p Appoint mission timer and issue stopwatch keeper.
    %tr.internal_heading_row
      %th Transition:
      %th
    %tr
      %td
        %p Start countdown clock
      %td
        %p Explain to the pupils about the count down clock system. They have ten seconds to move to the story mat. (Pupils are to count down from 10 – 1 then say ‘blast off’.)
    %tr.internal_heading_row
      %th Knowledge:
      %th
    %tr
      %td
      %td
        %p Read through today’s mission. Ask the class debriefer to manage the slide show.
    %tr.internal_heading_row
      %th Transition:
      %th
    %tr
      %td
        %p 60 second countdown clock
      %td
        %p Explain to the pupils about the count down clock system. This time pupils are to collect equipment in silence during time.
    %tr.internal_heading_row
      %th Discussion Task:
      %th
    %tr
      %td
      %td
        %p Pupils to answer questions during presentation.
    %tr.internal_heading_row
      %th Mastering the Knowledge Task:
      %th
    %tr
      %td= simple_format @lesson.lesson_plan&.teacher_mastery
      %td= simple_format @lesson.lesson_plan&.pupil_mastery
    %tr.internal_heading_row
      %th Transition:
      %th
    %tr
      %td
      %td
        %p Explain to the pupils about the count down clock system. Countdown clock to be used to time reentry into classroom to settle down an record experiment write up.
    %tr.internal_heading_row
      %th Independent Task:
      %th
    %tr
      %td
      %td
        %p To complete the handout writing up the process of your experiment by completing the statement bank.
        %p Activate the timer clock for pupils to clear away their workstations (10 minutes). Pupils are to count down from 10 – 1 seconds. Place your log book into either the Discovery tray (green) or Explorer tray (red). Explain that the green tray means that the pupil has understood the lesson well and the red tray means that more time is needed to practise.
    %tr.internal_heading_row
      %th Mission Debrief:
      %th
    %tr
      %td
      %td
        %p Pupils are to discuss with talk partners the questions on board. Complete a question and answer session selecting some pupils to share their answers.