<div id="graph"></div>
<script>

  $(function () {
    <%- @titles = @pupil.lesson_results.collect{|r| r.lesson.name } %>
    <%- @score = @pupil.lesson_results.collect{|r| r.in_class_mark } %>
    <%- @total = @pupil.lesson_results.collect{|r| r.total } %>

    $('#graph').highcharts({
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Class Performance',
        x: -20 //center
      },
      subtitle: {
        text: 'Summary',
        x: -20
      },
      xAxis: {
        categories: <%= raw(@titles) %>
      },
      yAxis: {
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      tooltip: {
        valueSuffix: '%'
      },
      plotOptions: {
        spline: {
          lineWidth: 4
        }
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      series: [{
        name: 'Score',
        data: <%= @score %>
      }, {
        name: 'Total',
        data: <%= @total %>
      }, {
        name: 'Average',
        data: [70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70]
      }]
    });
  });

</script>
0
