#pupil_application_bar

  .right_links
    = link_to('Logout', destroy_user_session_path, class: 'logout_link')
  .left_links
    = link_to 'Home', root_path
    //= link_to 'My class', pupil_my_class_path
    = link_to 'My results', pupil_lessons_path
    = link_to 'My achievements', pupil_achievements_path
    = link_to 'Library', pupil_my_library_path
