#lesson_show_panel
  #mission_cover{style: "background-image: url(#{@lesson.cover_image})"}
  #mission_preview
    = link_to "X", "javascript:void(0)", class: 'modal_exit'
    .mission_preview_summary_container
      %h1= "Mission #{@lesson.lesson_number}<br>Unit: #{@lesson.unit.try(:name)}".html_safe
      %h2
        Mission Objective
        %br
        = "#{@lesson&.study_year&.mascot_name} wants you to:"
      %h3= "- #{@lesson.name}"

      %p
        %b Rocket Words:
        %br
        = @lesson.rocket_words.map{ |w| content_tag(:span, w.word, class: 'rw') }.join(', ').html_safe

      = link_to 'Watch Presentation', course_presentation_path(@lesson.course, @lesson.presentation), class: 'begin_mission'

      - if @lesson.get_result_for(current_user) && @lesson.get_result_for(current_user).attempt.completed?
        = link_to 'Quiz Completed', pupil_lesson_path(@lesson), class: 'begin_mission'
        = link_to 'Try again for fun?', start_quiz_pupil_lesson_path(@lesson), class: 'begin_mission'  
      - else
        = link_to 'Take Quiz', start_quiz_pupil_lesson_path(@lesson), class: 'begin_mission'
