
- if @pupil.demo
  .pupil_mission_thumbnail_container{data: {mid: lesson.machine_name}}
    .pupil_mission_thumbnail
      = link_to big_preview_pupil_lesson_path(lesson), remote: true do
        = image_tag(lesson.cover_image.pupil_thumbnail)
        %h4= lesson.display_name
- else
  .pupil_mission_thumbnail_container{data: {mid: lesson.machine_name}}
    .pupil_mission_thumbnail{class: ('disabled' unless lesson.available?)}
      - if lesson.available?
        = link_to big_preview_pupil_lesson_path(lesson), remote: true do
          = image_tag(lesson.cover_image.pupil_thumbnail)
          %h4= lesson.display_name
      - else
        = image_tag(lesson.cover_image.pupil_thumbnail)
