#pupil_content
  #pupil_content_inner
    %h1 My Results
%table.pupil_table
  %thead
    %tr
      %th Lesson Name
      %th Quiz Score
      %th Teacher Marks
      %th Total Score
      %th View
  %tbody
    - @results.select{ |r| r.attempt.completed? || r.assessed_score.present? }.each do |result|
      %tr
        %td= result.lesson.name.titleize
        %td= result.score
        %td= result.assessed_score
        %td= result.total
        %td= link_to 'View', pupil_lesson_path(result.lesson)
