#pupil_content
  #pupil_content_inner
    %h1
      = link_to '<', pupil_my_library_path
      - if @fun
        Back to my lessons
      - else
        = @result.lesson.name.titleize
    - if @fun
      %h2= "You scored #{@result.score} out of #{@result.total_questions}"
    - else
      %h2= "You scored #{@result.attempt.score} out of #{@result.attempt.total_questions}"
%table.pupil_table
  %thead
    %tr
      %th Question
      %th Your Answer
      %th Correct Answer
  %tbody
    - if @fun
      - @result.questions.each do |question|
        %tr{class: (question.correct? ? 'right' : 'wrong')}
          %td= question.question
          %td= question.given_answer
          %td= question.answer
    
    - else
      - @result.attempt.questions.each do |question|
        %tr{class: (question.correct? ? 'right' : 'wrong')}
          %td= question.question
          %td= question.given_answer
          %td= question.answer
