= link_to 'Home', root_url(subdomain: false)
= link_to 'The Product', product_pages_path(subdomain: false)
= link_to 'The Research', research_pages_path(subdomain: false)
= link_to 'Blog', blogs_pages_path(subdomain: false)
= link_to 'Sign in', who_are_you_path
= link_to 'Get a demo', new_enquiry_path, class: 'menu_action_button'
