
%head
  %title DevelopingExperts
  = csrf_meta_tags
  = action_cable_meta_tag
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
  = javascript_include_tag 'application'
  %meta{:content => "OqZJhaD4x-Q_B94fgbxLqNX0LRlcdFF4lruh10GpQYQ", :name => "google-site-verification"}/
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73608216-1', 'auto');
    ga('send', 'pageview');

  :javascript
    (function(d) {
      var config = {
        kitId: 'vuq1dvh',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
