#form_page
  = form_for [:admin, @course] do |f|
    = f.error_messages
    #upper_form
      .title_field.sync_field
        = f.text_field :name, placeholder: 'Name'
      .right_form_buttons.full_form
        = f.submit
        =# link_to_delete 'Delete', @brand, class: 'minor_form_button' unless @course.new_record?

    #main_form.two_panel_form
      #summary_form_panel

        .field.sync_field
          = f.label :name
          = f.text_field :name

      #tabs_form_panel.full_form

        .tabs_container
          = tabs do
            = tab :lessons do
              - if @course.lessons.any?
                %table.index_table
                  %thead
                    %tr
                      %th No
                      %th Name
                      %th Date
                  %tbody
                    - @course.lessons.each do |lesson|
                      %tr
                        %td= lesson.lesson_number
                        %td= lesson.name
                        %td= lesson.start_date.strftime("%D")
    #lower_form
      .right_form_buttons
        = f.submit
        =# link_to_delete 'Delete', @course, class: 'minor_form_button' unless @course.new_record?
