- provide :title, 'Courses'

#page_information
  .info_title
    %h1= pluralize(@courses.count, 'Course')
    .info_button_container
      .button_group
        -#= link_to '+ Create Teacher', new_admin_user_faculty_path, class: 'button'

.panel
  %table.index_table
    %tr
      %th Name
      %th School
      %th Start Date
      %th Created

    - @courses.each do |course|
      %tr
        %td= link_to course.name, [:admin, course]
        %td= course.school.name
        %td= course.start_date
        %td= course.created_at
