#content
  #content_inner

    #login_form.regular_form.narrow_form
      .form_text
        = form_for @enquiry do |f|
          - if @enquiry.errors.any?
            #error_explanation
              %h2= "#{pluralize(@enquiry.errors.count, "error")} prohibited this enquiry from being saved:"
              %ul
                - @enquiry.errors.full_messages.each do |msg|
                  %li= msg

          .field
            = f.label :name
            = f.text_field :name
          .field
            = f.label :email
            = f.text_field :email
          .field
            = f.label :body
            = f.text_area :body
          .actions
            = f.submit 'Save'
