#temp_banner
  %h1 Get a demo
#temp_page
  #no_school_form.regular_form.narrow_form
    .form_text
      %h1 Get a hands on experience
      %p
        Please enter your details below and one of our team will get back to you to organise a demo. Alternatively, you can email us at
        = mail_to 'info@developingexperts.com'
    = form_for @enquiry do |f|
      - if @enquiry.errors.any?
        #error_explanation
          %h2= "#{pluralize(@enquiry.errors.count, "error")} prohibited this enquiry from being saved:"
          %ul
            - @enquiry.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :position
        = f.text_field :position
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :school
        = f.text_field :school
      .field
        = f.label :phone
        = f.text_field :phone
      .actions
        = f.submit 'Save'
