%p#notice= notice

%p
  %b Name:
  = @enquiry.name
%p
  %b Email:
  = @enquiry.email
%p
  %b Body:
  = @enquiry.body

= link_to 'Edit', edit_enquiry_path(@enquiry)
\|
= link_to 'Back', enquiries_path
