#second_sidebar.quiz_progress
  - @attempt.questions.each do |question|
    .quiz_progress_item{class: [('active' if question == @question), (question.correct? ? 'right' : ('wrong' if question.answered?))]}
      = question.question
