#slides_navigation
  = "Question #{@question.question_number}"
#slide_content_wrapper
  #year_summary_sidebar
    %div{data: {highres: @lesson.presentation&.sidebar_background&.url }}

  #main_wrapper
    #upper_text
      .upper_text_inner
        = @question.question
    #main_slide_panel.active_quiz
      .quiz_table
        %table
          %tbody
            - @attempt.generate_answers_for(@question).each do |answer|
              %tr{data: {submit_answer: true}}
                %td
                  .answer_image= image_tag answer.question_object.rocket_word.image.square rescue nil
                %td.question
                  .answer
                    = raw answer.answer
                    = button_to(raw(answer.answer), submit_answer_pupil_lesson_path(@lesson), params: {answer_id: answer.question_id, question_number: @question.question_number}, class: 'hidden')

  = render 'progress_bar'
