//Styles applicable to every area of the application
//  Be Careful!

@import normalize
@import flex_mixins
@import variables
@import header
@import font-awesome

*
  box-sizing: border-box

html.no_selection
  +user-select(none)

body
  font-family: 'Proxima Nova', Sans-Serif
  //font-family: 'Camphor W01'
  //, 'Century Gothic W01', "Century Gothic", CenturyGothic, AppleGothic, sans-serif
  -webkit-font-smoothing: antialiased
  font-size: 87.5%

a
  text-decoration: none
  a:hover
    text-decoration: underline
img
  max-width: 100%

.hidden
  display: none

h1, h2, h3, h4, h5, h6, p, li
  color: $primary_text_color

p
  line-height: 1.5rem

.loading #loading-overlay
  opacity: 1!important

input[type="submit"], .button
  white-space: nowrap
  display: inline-block
  height: 40px
  line-height: 40px
  padding: 0 14px
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
  color: #fff
  background-color: $primary_color
  border-radius: 4px
  font-size: 15px
  font-weight: 600
  letter-spacing: .025em
  text-decoration: none
  -webkit-transition: all .15s ease
  transition: all .15s ease
  border: none
  &.minor
    background: #fff
    color: $primary_color
    &:hover
      background: #f5f5f5
      color: $light_primary_color
  &:hover
    background-color: $light_primary_color
    transform: translateY(-1px)
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)

.social_sign_in
  @extend .button
  margin-bottom: 10px
  font-size: 0.8rem
  width: 100%
  max-width: 260px
  text-align: center
  &.facebook
    background-color: #2d6dd4
  &.twitter
    background-color: #56b8d4
  &.linkedin
    background-color: #4fc3d4
  &.google_oauth2
    background-color: #d44a2a
  i
    font-size: 16px
    float: left
    padding: 11px 0


.button_group
  +flexbox
  +flex-wrap(wrap)
  input[type="submit"], .button
    margin: 0 12px 10px 0
    +flex-shrink(0)

label
  font-size: 14px
  margin-bottom: 2px
  display: block
  color: rgb(108, 119, 111)

div#loading-overlay
  height: 100%
  width: 100%
  position: fixed
  background: #1b1b1b
  z-index: 10000
  opacity: 0
  transition: 0.6s


.flex_side_column
  +flex(0 0 80px)
  transition: 0.7s ease-in-out
  @media (min-width: 650px)
    +flex(0 0 250px)
    min-width: 250px
  @media (min-width: 1000px)
    +flex(0 0 275px)
    min-width: 275px
  @media (min-width: 1400px)
    +flex(0 0 300px)
    min-width: 300px
  &.disabled
    min-width: 0
    flex: 0
    width: 0


#page_wrapper
  +flexbox

@mixin sidebar_draw
  background-color: rgba(#2E2F30, 0.9)
  position: absolute
  height: 100%
  transform: translateX(-100%)
  transition: 0.3s
  z-index: 100

#sidebar, #course_sidebar
  &.primary_sidebar
    background-color: $primary_color
  &.dark_sidebar
    background-color: #2E2F30
  &.with_regular_header
    min-height: calc(100vh - 75px)
  &.with_tall_header
    min-height: calc(100vh - 100px)
  position: relative
  padding-top: 20px
  z-index: 1
  @media (max-width: 650px)
    width: 73%
  .sidebar_section
    color: #fff
    padding: 10px 20px 10px 40px
    .fa
      margin-left: 10px
      font-size: 16px
  h4
    color: rgba(255,255,255,0.6)
    font-size: 12px
    margin: 5px 0
    border-right: solid 4px transparent
    font-weight: 700
  a
    border-right: solid 4px transparent
    color: white
    display: block
    font-weight: 400
    font-size: 15px
    line-height: 36px
    text-decoration: none
  &.flat_sidebar
    a
      display: block
      color: white
      font-weight: bold
      text-transform: uppercase
      padding: 10px 40px
      font-size: 0.9rem
      &.active
        background-color: rgba(black, 0.85)
  &.pinned
  // do something
  &.overlay
    @include sidebar_draw
  @media (max-width: 800px)
    @include sidebar_draw
  &.active_draw
    transform: translateX(0px)
