#header_bar
  background-color: rgba(black, 0.8)
  &.light
    background-color: #e5e5e5
    @media (max-width: 650px)
      background-color: rgba($primary_color, 0.9)
  width: 100%
  position: relative
  height: 65px
  +flexbox

  #header_link_actions
    display: inline-block
    background-size: 140px
    background-repeat: no-repeat
    position: relative
    z-index: 101
    @media(min-width: 650px)
      background-image: image_url('logo_large.png')
      background-position: 70px 30%

  .menu_toggle
    .bar
      height: 3px
      width: 18px
      background-color: $primary_color
      border-radius: 1.5px
      margin: 3px 0
    cursor: pointer
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    height: 100%
    width: 50px
    position: absolute
    left: 20px
    top: 20px

#header_inner_right
  text-align: right

#profile_header_wrapper
  text-align: left
  display: inline-block
  cursor: pointer
  height: 100%
  position: relative
  z-index: 100
  @media (max-width: 650px)
    position: absolute
    right: 0
  > .progress_bar
    display: none
    @media (min-width: 800px)
      display: block


#profile_header
  height: 100%
  max-height: 65px
  padding: 5px

#profile_header_text
  display: none
  vertical-align: middle
  margin-right: 14px
  text-align: left
  @media (min-width: 650px)
    display: inline-block
  .profile_header_name
    font-weight: 600
    padding-bottom: 5px
    color: white
    margin-right: 10px
    display: block
    .light &
      color: rgba(0,0,0,0.87)
  .level
    font-size: 0.7rem
    text-transform: uppercase
    color: white
    .light &
      color: rgba(0,0,0,0.5)

#profile_header_image
  border-radius: 36px
  display: inline-block
  overflow: hidden
  height: 55px
  width: 55px
  position: absolute
  top: 5px
  vertical-align: middle
  // @media (max-width: 450px)
  //   right: 10px
  @media (max-width: 650px)
    right: 10px
  @media (min-width: 800px)
    position: static
    height: 55px
    width: 55px
    top: 0
  img
    display: block

.progress_bar
  background: #bdbdbd
  border-radius: 3px
  height: 6px
  width: 150px
  margin-top: 6px
  @media (max-width: 800px)
    display: none

#header_overflow_menu
  display: none
  .open &
    display: block
  margin: 10px
  box-shadow: 0 2px 7px rgba(0,0,0,0.3)
  border-radius: 3px
  background-color: #f5f5f5
  a
    display: block
    padding: 10px
    color: rgba(black, 0.7)
    font-size: 0.9rem
    font-weight: bold

#header_title
  +flex(1)
  position: relative
  z-index: 101
  a
    color: #5d5d5d
    font-size: 0.9rem
    margin-right: 20px
    text-transform: uppercase
    font-weight: 500
  @media (max-width: 650px)
    background-image: image_url('logo.png')
    background-position: center
    background-repeat: no-repeat
    background-size: 140px

  @media (min-width: 650px)
    padding: 17px 30px
  @media (max-width: 800px)
    a
      display: none
  h1, h2
    font-size: 0.85rem
    letter-spacing: 1px
    font-weight: bold
    text-transform: uppercase
    margin: 0
    a
      color: rgba(0, 0, 0, 0.72)

  &.links_header_title
    padding-top: 21px
