$error: #d02f2f

$primary_color: #49ABFF
$dark_primary_color:   darken($primary_color, 10%)
$light_primary_color:  lighten($primary_color, 10%)
$primary_text_color:   #2D3138
$accent_color:         #50bcca
$secondary_text_color: #757575
$divider_color:        #BDBDBD


$card_box_shadow: 0 2px 4px rgba(0,0,0,0.1)


@mixin user-select($value)
  -webkit-user-select: $value
  -moz-user-select: $value
  -ms-user-select: $value
  user-select: $value

$primary_purple:       #82378c
$alt_text_color:       #6f6f6f
$dark_alt_text_color:  #555
$accent_color:         #bd1620
$line_color:           #dadada
$site_width:           1200px
