#form_page
  = form_for [:admin, @study_year] do |f|
    = f.error_messages
    #upper_form
      .title_field.sync_field
        = f.text_field :name, placeholder: 'Year'
      .right_form_buttons.full_form
        = f.submit
        =# link_to_delete 'Delete', @brand, class: 'minor_form_button' unless @course.new_record?

    #main_form.two_panel_form
      #summary_form_panel
        .summary_title.full_form

          .field.sync_field
            = f.label :name
            = f.text_field :name
          .field
            = f.label :year_number
            = f.text_field :year_number
          .field
            = f.label :mascot_name
            = f.text_field :mascot_name



      #tabs_form_panel.full_form

        .tabs_container
          = tabs do
            = tab :media do
              .field
                = f.label :sidebar_background
                = f.file_field :sidebar_background


              .field
                = f.label :lesson_outro_video
                = f.file_field :lesson_outro_video


              .field
                = f.label :lesson_intro_mascot
                = f.file_field :lesson_intro_mascot


              .field
                = f.label :rocket_thumbnail
                = f.file_field :rocket_thumbnail


              .field
                = f.label :sixty_count_video
                = f.file_field :sixty_count_video


              .field
                = f.label :ten_count_video
                = f.file_field :ten_count_video


              .field
                = f.label :certificate
                = f.file_field :certificate


    #lower_form
      .right_form_buttons
        = f.submit
        =# link_to_delete 'Delete', @course, class: 'minor_form_button' unless @course.new_record?


