- provide :title, 'Study Years'

#page_information
  .info_title
    %h1= pluralize(@study_years.count, 'Year')
    .info_button_container
      .button_group
        = link_to '+ Create Year', new_admin_study_year_path, class: 'button'
.panel
  %table.index_table
    %tr
      %th Year
      %th Name
      %th Units
      %th Missions
      %th.action_column Actions

    - @study_years.each do |year|
      %tr
        %td= year.year_number
        %td= year.name
        %td= year.units.count
        %td= year.lesson_templates.count
        %td.actions
          = link_to 'Edit', edit_admin_study_year_path(year)

