!!!
%html
  = render 'common/html_head'

  %body.anonymous_site{class: action_name}


    #side_menu
      = render 'common/anon_menu'
    #page_wrapper
      %header#header
        #header_inner
          #logo
            = link_to image_tag('blue_logo.png'), root_path
          #main_menu
            = render 'common/anon_menu'
            = link_to 'javascript:void(0)', class: 'menu_activator' do
              %span Menu
              %i.fa.fa-bars
      = flash_messages
      #page
        = yield

      #footer
        © Copyright 2016 Developing Experts Ltd.