!!!
%html
  = render 'common/html_head'

  %body.school_sections
    = render 'application_bar'
    #app_page_wrapper
      #app_page
        = render 'user_bar'
        #standard_panels_wrapper
          #side_panel
            #school_logo
              //= image_tag @school.display_logo unless @school.display_logo.blank?
            = yield :side_panel
          #main_panel
            = yield

      #notification_panel
        %h3 Notifications
        #notification_feed
          - notifications.first(10).each do |notification|
            .notification_item
              = raw notification.message
    = render 'notification'
